{
  "swagger": "2.0",
  "info": {
    "version": "0.10.0",
    "title": "Meraki Dashboard API",
    "description": "The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.\n\n> Date: 01 April, 2020\n>\n> [What's New](https://meraki.io/whats-new/)\n\n---\n\n[API Documentation](https://meraki.io/api)\n\n[Community Support](https://meraki.io/community)\n\n[Meraki Homepage](https://www.meraki.com)\n",
    "x-codegen-settings": {
      "appendContentHeaders": true,
      "brandLabel": "meraki",
      "collectParameters": true,
      "doNotSplitWords": [
        "ACLs",
        "NetFlow",
        "SSIDs",
        "VLANs"
      ],
      "generateAdvancedDocs": true,
      "generateAsyncCode": true,
      "projectName": "meraki",
      "sortResources": true,
      "useEnumPostfix": true,
      "useMethodPrefix": false,
      "useModelPostfix": true,
      "validateRequiredParameters": true
    }
  },
  "host": "api.meraki.com",
  "basePath": "/api/v0",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "meraki_api_key": {
      "type": "apiKey",
      "name": "X-Cisco-Meraki-API-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "meraki_api_key": [

      ]
    }
  ],
  "paths": {
    "/devices/{serial}/camera/analytics/live": {
      "get": {
        "description": "Returns live state from camera of analytics zones",
        "operationId": "getDeviceCameraAnalyticsLive",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "ts": "2018-08-15T18:32:38.123Z",
                "zones": {
                  "0": {
                    "person": 0
                  }
                }
              }
            }
          }
        },
        "summary": "Returns live state from camera of analytics zones",
        "tags": [
          "MV Sense"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/overview": {
      "get": {
        "description": "Returns an overview of aggregate analytics data for a timespan",
        "operationId": "getDeviceCameraAnalyticsOverview",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 365 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour."
          },
          {
            "type": "string",
            "enum": [
              "person",
              "vehicle"
            ],
            "name": "objectType",
            "in": "query",
            "description": "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "zoneId": 0,
                  "entrances": 254,
                  "averageCount": 5
                }
              ]
            }
          }
        },
        "summary": "Returns an overview of aggregate analytics data for a timespan",
        "tags": [
          "MV Sense"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/recent": {
      "get": {
        "description": "Returns most recent record for analytics zones",
        "operationId": "getDeviceCameraAnalyticsRecent",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "enum": [
              "person",
              "vehicle"
            ],
            "name": "objectType",
            "in": "query",
            "description": "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "zoneId": 0,
                  "entrances": 10,
                  "averageCount": 2.54
                }
              ]
            }
          }
        },
        "summary": "Returns most recent record for analytics zones",
        "tags": [
          "MV Sense"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/zones": {
      "get": {
        "description": "Returns all configured analytic zones for this camera",
        "operationId": "getDeviceCameraAnalyticsZones",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "id": "0",
                  "type": "occupancy",
                  "label": "Full Frame",
                  "regionOfInterest": {
                    "x0": "0.00",
                    "y0": "0.00",
                    "x1": "1.00",
                    "y1": "1.00"
                  }
                }
              ]
            }
          }
        },
        "summary": "Returns all configured analytic zones for this camera",
        "tags": [
          "MV Sense"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/zones/{zoneId}/history": {
      "get": {
        "description": "Return historical records for analytic zones",
        "operationId": "getDeviceCameraAnalyticsZoneHistory",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "zoneId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 365 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 14 hours after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour."
          },
          {
            "type": "integer",
            "name": "resolution",
            "in": "query",
            "description": "The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60."
          },
          {
            "type": "string",
            "enum": [
              "person",
              "vehicle"
            ],
            "name": "objectType",
            "in": "query",
            "description": "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "entrances": 5,
                  "averageCount": 1.5
                }
              ]
            }
          }
        },
        "summary": "Return historical records for analytic zones",
        "tags": [
          "MV Sense"
        ]
      }
    },
    "/devices/{serial}/camera/qualityAndRetentionSettings": {
      "get": {
        "description": "Returns quality and retention settings for the given camera",
        "operationId": "getDeviceCameraQualityAndRetentionSettings",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "motionBasedRetentionEnabled": false,
                "audioRecordingEnabled": false,
                "restrictedBandwidthModeEnabled": false,
                "profileId": null,
                "quality": "Standard",
                "motionDetectorVersion": 2,
                "resolution": 720
              }
            }
          }
        },
        "summary": "Returns quality and retention settings for the given camera",
        "tags": [
          "Cameras"
        ]
      },
      "put": {
        "description": "Update quality and retention settings for the given camera",
        "operationId": "updateDeviceCameraQualityAndRetentionSettings",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceCameraQualityAndRetentionSettings",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "profileId": {
                  "type": "string",
                  "description": "The ID of a quality and retention profile to assign to the camera. The profile's settings will override all of the per-camera quality and retention settings. If the value of this parameter is null, any existing profile will be unassigned from the camera."
                },
                "motionBasedRetentionEnabled": {
                  "type": "boolean",
                  "description": "Boolean indicating if motion-based retention is enabled(true) or disabled(false) on the camera"
                },
                "audioRecordingEnabled": {
                  "type": "boolean",
                  "description": "Boolean indicating if audio recording is enabled(true) or disabled(false) on the camera"
                },
                "restrictedBandwidthModeEnabled": {
                  "type": "boolean",
                  "description": "Boolean indicating if restricted bandwidth is enabled(true) or disabled(false) on the camera"
                },
                "quality": {
                  "type": "string",
                  "enum": [
                    "Standard",
                    "High",
                    "Enhanced"
                  ],
                  "description": "Quality of the camera. Can be one of 'Standard', 'High' or 'Enhanced'. Not all qualities are supported by every camera model."
                },
                "resolution": {
                  "type": "string",
                  "enum": [
                    "1280x720",
                    "1920x1080",
                    "1080x1080",
                    "2058x2058"
                  ],
                  "description": "Resolution of the camera. Can be one of '1280x720', '1920x1080', '1080x1080' or '2058x2058'. Not all resolutions are supported by every camera model."
                },
                "motionDetectorVersion": {
                  "type": "integer",
                  "enum": [
                    1,
                    2
                  ],
                  "description": "The version of the motion detector that will be used by the camera. Only applies to Gen 2 cameras. Defaults to v2."
                }
              },
              "example": {
                "motionBasedRetentionEnabled": false,
                "audioRecordingEnabled": false,
                "restrictedBandwidthModeEnabled": false,
                "profileId": null,
                "quality": "Standard",
                "motionDetectorVersion": 2,
                "resolution": 720
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "motionBasedRetentionEnabled": false,
                "audioRecordingEnabled": false,
                "restrictedBandwidthModeEnabled": false,
                "profileId": null,
                "quality": "Standard",
                "motionDetectorVersion": 2,
                "resolution": 720
              }
            }
          }
        },
        "summary": "Update quality and retention settings for the given camera",
        "tags": [
          "Cameras"
        ]
      }
    },
    "/devices/{serial}/cellularGateway/settings": {
      "get": {
        "description": "Show the LAN Settings of a MG",
        "operationId": "getDeviceCellularGatewaySettings",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "deviceName": "name of the MG",
                "deviceLanIp": "192.168.0.33",
                "deviceSubnet": "192.168.0.32/27",
                "fixedIpAssignments": [
                  {
                    "mac": "0b:00:00:00:00:ac",
                    "name": "server 1",
                    "ip": "192.168.0.10"
                  },
                  {
                    "mac": "0b:00:00:00:00:ab",
                    "name": "server 2",
                    "ip": "192.168.0.20"
                  }
                ],
                "reservedIpRanges": [
                  {
                    "start": "192.168.1.0",
                    "end": "192.168.1.1",
                    "comment": "A reserved IP range"
                  }
                ]
              }
            }
          }
        },
        "summary": "Show the LAN Settings of a MG",
        "tags": [
          "MG LAN settings"
        ]
      },
      "put": {
        "description": "Update the LAN Settings for a single MG.",
        "operationId": "updateDeviceCellularGatewaySettings",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceCellularGatewaySettings",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "reservedIpRanges": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "string",
                        "description": "Starting IP included in the reserved range of IPs"
                      },
                      "end": {
                        "type": "string",
                        "description": "Ending IP included in the reserved range of IPs"
                      },
                      "comment": {
                        "type": "string",
                        "description": "Comment explaining the reserved IP range"
                      }
                    },
                    "required": [
                      "start",
                      "end",
                      "comment"
                    ]
                  },
                  "description": "list of all reserved IP ranges for a single MG"
                },
                "fixedIpAssignments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "A descriptive name of the assignment"
                      },
                      "ip": {
                        "type": "string",
                        "description": "The IP address you want to assign to a specific server or device"
                      },
                      "mac": {
                        "type": "string",
                        "description": "The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address"
                      }
                    },
                    "required": [
                      "ip",
                      "mac"
                    ]
                  },
                  "description": "list of all fixed IP assignments for a single MG"
                }
              },
              "example": {
                "deviceName": "name of the MG",
                "deviceLanIp": "192.168.0.33",
                "deviceSubnet": "192.168.0.32/27",
                "fixedIpAssignments": [
                  {
                    "mac": "0b:00:00:00:00:ac",
                    "name": "server 1",
                    "ip": "192.168.0.10"
                  },
                  {
                    "mac": "0b:00:00:00:00:ab",
                    "name": "server 2",
                    "ip": "192.168.0.20"
                  }
                ],
                "reservedIpRanges": [
                  {
                    "start": "192.168.1.0",
                    "end": "192.168.1.1",
                    "comment": "A reserved IP range"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "deviceName": "name of the MG",
                "deviceLanIp": "192.168.0.33",
                "deviceSubnet": "192.168.0.32/27",
                "fixedIpAssignments": [
                  {
                    "mac": "0b:00:00:00:00:ac",
                    "name": "server 1",
                    "ip": "192.168.0.10"
                  },
                  {
                    "mac": "0b:00:00:00:00:ab",
                    "name": "server 2",
                    "ip": "192.168.0.20"
                  }
                ],
                "reservedIpRanges": [
                  {
                    "start": "192.168.1.0",
                    "end": "192.168.1.1",
                    "comment": "A reserved IP range"
                  }
                ]
              }
            }
          }
        },
        "summary": "Update the LAN Settings for a single MG.",
        "tags": [
          "MG LAN settings"
        ]
      }
    },
    "/devices/{serial}/cellularGateway/settings/portForwardingRules": {
      "get": {
        "description": "Returns the port forwarding rules for a single MG.",
        "operationId": "getDeviceCellularGatewaySettingsPortForwardingRules",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "rules": [
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test",
                    "access": "any",
                    "publicPort": "11-12",
                    "localPort": "4",
                    "uplink": "both",
                    "protocol": "tcp"
                  },
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test 2",
                    "access": "restricted",
                    "allowedIps": [
                      "10.10.10.10",
                      "10.10.10.11"
                    ],
                    "publicPort": "99",
                    "localPort": "5",
                    "uplink": "both",
                    "protocol": "tcp"
                  }
                ]
              }
            }
          }
        },
        "summary": "Returns the port forwarding rules for a single MG.",
        "tags": [
          "MG port forwarding rules"
        ]
      },
      "put": {
        "description": "Updates the port forwarding rules for a single MG.",
        "operationId": "updateDeviceCellularGatewaySettingsPortForwardingRules",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceCellularGatewaySettingsPortForwardingRules",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "rules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "A descriptive name for the rule"
                      },
                      "lanIp": {
                        "type": "string",
                        "description": "The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN"
                      },
                      "publicPort": {
                        "type": "string",
                        "description": "A port or port ranges that will be forwarded to the host on the LAN"
                      },
                      "localPort": {
                        "type": "string",
                        "description": "A port or port ranges that will receive the forwarded traffic from the WAN"
                      },
                      "allowedIps": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges."
                      },
                      "protocol": {
                        "type": "string",
                        "description": "TCP or UDP"
                      },
                      "access": {
                        "type": "string",
                        "description": "`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory."
                      }
                    },
                    "required": [
                      "lanIp",
                      "publicPort",
                      "localPort",
                      "protocol",
                      "access"
                    ]
                  },
                  "description": "An array of port forwarding params"
                }
              },
              "example": {
                "rules": [
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test",
                    "access": "any",
                    "publicPort": "11-12",
                    "localPort": "4",
                    "uplink": "both",
                    "protocol": "tcp"
                  },
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test 2",
                    "access": "restricted",
                    "allowedIps": [
                      "10.10.10.10",
                      "10.10.10.11"
                    ],
                    "publicPort": "99",
                    "localPort": "5",
                    "uplink": "both",
                    "protocol": "tcp"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "rules": [
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test",
                    "access": "any",
                    "publicPort": "11-12",
                    "localPort": "4",
                    "uplink": "both",
                    "protocol": "tcp"
                  },
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test 2",
                    "access": "restricted",
                    "allowedIps": [
                      "10.10.10.10",
                      "10.10.10.11"
                    ],
                    "publicPort": "99",
                    "localPort": "5",
                    "uplink": "both",
                    "protocol": "tcp"
                  }
                ]
              }
            }
          }
        },
        "summary": "Updates the port forwarding rules for a single MG.",
        "tags": [
          "MG port forwarding rules"
        ]
      }
    },
    "/devices/{serial}/clients": {
      "get": {
        "description": "List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.",
        "operationId": "getDeviceClients",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "usage": {
                    "sent": 138.0,
                    "recv": 61.0
                  },
                  "id": "k74272e",
                  "description": "Miles's phone",
                  "mac": "22:33:44:55:66:77",
                  "ip": "1.2.3.4",
                  "user": "milesmeraki",
                  "vlan": 255,
                  "switchport": null,
                  "mdnsName": "Miles's phone",
                  "dhcpHostname": "MilesPhone"
                }
              ]
            }
          }
        },
        "summary": "List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.",
        "tags": [
          "Clients"
        ]
      }
    },
    "/devices/{serial}/switch/ports/cycle": {
      "post": {
        "description": "Cycle a set of switch ports",
        "operationId": "cycleDeviceSwitchPorts",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "cycleDeviceSwitchPorts",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "ports": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of switch ports. Example: [1, 2-5, 1_MA-MOD-8X10G_1, 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8]"
                }
              },
              "example": {
                "ports": [
                  "1",
                  "2-5",
                  "1_MA-MOD-8X10G_1",
                  "1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8"
                ]
              },
              "required": [
                "ports"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "ports": [
                  "1",
                  "2-5",
                  "1_MA-MOD-8X10G_1",
                  "1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8"
                ]
              }
            }
          }
        },
        "summary": "Cycle a set of switch ports",
        "tags": [
          "Devices"
        ]
      }
    },
    "/devices/{serial}/switchPortStatuses": {
      "get": {
        "description": "Return the status for all the ports of a switch",
        "operationId": "getDeviceSwitchPortStatuses",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "portId": "1",
                  "enabled": true,
                  "status": "Connected",
                  "errors": [
                    "PoE overload",
                    "Very high proportion of CRC errors"
                  ],
                  "warnings": [
                    "PoE port was denied power",
                    "High proportion of CRC errors"
                  ],
                  "speed": "10 Gbps",
                  "duplex": "full",
                  "usageInKb": {
                    "total": 40867,
                    "sent": 23008,
                    "recv": 17859
                  },
                  "cdp": {
                    "systemName": "",
                    "platform": "MS350-24X",
                    "deviceId": "0c8ddbddee:ff",
                    "portId": "Port 20",
                    "nativeVlan": 1,
                    "address": "10.0,0.1",
                    "managementAddress": "10.0.0.100",
                    "version": "1",
                    "vtpManagementDomain": "",
                    "capabilities": "Switch"
                  },
                  "lldp": {
                    "systemName": "MS350-24X - Test",
                    "systemDescription": "MS350-24X Cloud Managed PoE Switch",
                    "portId": "20",
                    "portDescription": "Port 20",
                    "chassisId": "0c:8d:db:dd:ee:ff",
                    "managementVlan": 1,
                    "portVlan": 1,
                    "managementAddress": "10.0.0.100",
                    "systemCapabilities": "switch"
                  },
                  "clientCount": 10,
                  "powerUsageInWh": 55.9,
                  "trafficInKbps": {
                    "total": 2.2,
                    "sent": 1.2,
                    "recv": 1.0
                  }
                }
              ]
            }
          }
        },
        "summary": "Return the status for all the ports of a switch",
        "tags": [
          "Switch ports"
        ]
      }
    },
    "/devices/{serial}/switchPortStatuses/packets": {
      "get": {
        "description": "Return the packet counters for all the ports of a switch",
        "operationId": "getDeviceSwitchPortStatusesPackets",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 1 day from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 1 day. The default is 1 day."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "portId": "1",
                  "packets": [
                    {
                      "desc": "Total",
                      "total": 112081,
                      "sent": 104135,
                      "recv": 7946,
                      "ratePerSec": {
                        "total": 1,
                        "sent": 1,
                        "recv": 0
                      }
                    },
                    {
                      "desc": "Broadcast",
                      "total": 30884,
                      "sent": 30370,
                      "recv": 514,
                      "ratePerSec": {
                        "total": 0,
                        "sent": 0,
                        "recv": 0
                      }
                    },
                    {
                      "desc": "Multicast",
                      "total": 67620,
                      "sent": 66849,
                      "recv": 771,
                      "ratePerSec": {
                        "total": 0,
                        "sent": 0,
                        "recv": 0
                      }
                    },
                    {
                      "desc": "CRC align errors",
                      "total": 0,
                      "sent": 0,
                      "recv": 0,
                      "ratePerSec": {
                        "total": 0,
                        "sent": 0,
                        "recv": 0
                      }
                    }
                  ]
                }
              ]
            }
          }
        },
        "summary": "Return the packet counters for all the ports of a switch",
        "tags": [
          "Switch ports"
        ]
      }
    },
    "/devices/{serial}/switchPorts": {
      "get": {
        "description": "List the switch ports for a switch",
        "operationId": "getDeviceSwitchPorts",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "number": 1,
                  "name": "My switch port",
                  "tags": "tag1 tag2",
                  "enabled": true,
                  "poeEnabled": true,
                  "type": "access",
                  "vlan": 10,
                  "voiceVlan": 20,
                  "isolationEnabled": false,
                  "rstpEnabled": true,
                  "stpGuard": "disabled",
                  "accessPolicyNumber": "1234",
                  "linkNegotiation": "Auto negotiate",
                  "portScheduleId": "1234",
                  "udld": "Alert only",
                  "macWhitelist": [
                    "34:56:fe:ce:8e:a0",
                    "34:56:fe:ce:8e:a1"
                  ],
                  "stickyMacWhitelist": [
                    "34:56:fe:ce:8e:b0",
                    "34:56:fe:ce:8e:b1"
                  ],
                  "stickyMacWhitelistLimit": 5,
                  "stormControlEnabled": true
                }
              ]
            }
          }
        },
        "summary": "List the switch ports for a switch",
        "tags": [
          "Switch ports"
        ]
      }
    },
    "/devices/{serial}/switchPorts/{number}": {
      "get": {
        "description": "Return a switch port",
        "operationId": "getDeviceSwitchPort",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "number",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "number": 1,
                "name": "My switch port",
                "tags": "tag1 tag2",
                "enabled": true,
                "poeEnabled": true,
                "type": "access",
                "vlan": 10,
                "voiceVlan": 20,
                "isolationEnabled": false,
                "rstpEnabled": true,
                "stpGuard": "disabled",
                "accessPolicyNumber": "1234",
                "linkNegotiation": "Auto negotiate",
                "portScheduleId": "1234",
                "udld": "Alert only",
                "macWhitelist": [
                  "34:56:fe:ce:8e:a0",
                  "34:56:fe:ce:8e:a1"
                ],
                "stickyMacWhitelist": [
                  "34:56:fe:ce:8e:b0",
                  "34:56:fe:ce:8e:b1"
                ],
                "stickyMacWhitelistLimit": 5,
                "stormControlEnabled": true
              }
            }
          }
        },
        "summary": "Return a switch port",
        "tags": [
          "Switch ports"
        ]
      },
      "put": {
        "description": "Update a switch port",
        "operationId": "updateDeviceSwitchPort",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "number",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceSwitchPort",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the switch port"
                },
                "tags": {
                  "type": "string",
                  "description": "The tags of the switch port"
                },
                "enabled": {
                  "type": "boolean",
                  "description": "The status of the switch port"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "trunk",
                    "access"
                  ],
                  "description": "The type of the switch port ('trunk' or 'access')"
                },
                "vlan": {
                  "type": "integer",
                  "description": "The VLAN of the switch port. A null value will clear the value set for trunk ports."
                },
                "voiceVlan": {
                  "type": "integer",
                  "description": "The voice VLAN of the switch port. Only applicable to access ports."
                },
                "allowedVlans": {
                  "type": "string",
                  "description": "The VLANs allowed on the switch port. Only applicable to trunk ports."
                },
                "poeEnabled": {
                  "type": "boolean",
                  "description": "The PoE status of the switch port"
                },
                "isolationEnabled": {
                  "type": "boolean",
                  "description": "The isolation status of the switch port"
                },
                "rstpEnabled": {
                  "type": "boolean",
                  "description": "The rapid spanning tree protocol status"
                },
                "stpGuard": {
                  "type": "string",
                  "enum": [
                    "disabled",
                    "root guard",
                    "bpdu guard",
                    "loop guard"
                  ],
                  "description": "The state of the STP guard ('disabled', 'root guard', 'bpdu guard' or 'loop guard')"
                },
                "accessPolicyNumber": {
                  "type": "integer",
                  "description": "The number of the access policy of the switch port. Only applicable to access ports."
                },
                "linkNegotiation": {
                  "type": "string",
                  "description": "The link speed for the switch port"
                },
                "portScheduleId": {
                  "type": "string",
                  "description": "The ID of the port schedule. A value of null will clear the port schedule."
                },
                "udld": {
                  "type": "string",
                  "enum": [
                    "Alert only",
                    "Enforce"
                  ],
                  "description": "The action to take when Unidirectional Link is detected (Alert only, Enforce). Default configuration is Alert only."
                },
                "macWhitelist": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Only devices with MAC addresses specified in this list will have access to this port. Up to 20 MAC addresses can be defined. To disable MAC whitelist, set accessPolicyNumber to null."
                },
                "stickyMacWhitelist": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The initial list of MAC addresses for sticky Mac whitelist. To reset Sticky MAC whitelist, set accessPolicyNumber to null."
                },
                "stickyMacWhitelistLimit": {
                  "type": "integer",
                  "description": "The maximum number of MAC addresses for sticky MAC whitelist."
                },
                "stormControlEnabled": {
                  "type": "boolean",
                  "description": "The storm control status of the switch port"
                }
              },
              "example": {
                "name": "My switch port",
                "tags": "tag1 tag2",
                "enabled": true,
                "poeEnabled": true,
                "type": "access",
                "vlan": 10,
                "voiceVlan": 20,
                "isolationEnabled": false,
                "rstpEnabled": true,
                "stpGuard": "disabled",
                "accessPolicyNumber": "1234",
                "linkNegotiation": "Auto negotiate",
                "portScheduleId": "1234",
                "udld": "Alert only",
                "macWhitelist": [
                  "34:56:fe:ce:8e:a0",
                  "34:56:fe:ce:8e:a1"
                ],
                "stickyMacWhitelist": [
                  "34:56:fe:ce:8e:b0",
                  "34:56:fe:ce:8e:b1"
                ],
                "stickyMacWhitelistLimit": 5,
                "stormControlEnabled": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "number": 1,
                "name": "My switch port",
                "tags": "tag1 tag2",
                "enabled": true,
                "poeEnabled": true,
                "type": "access",
                "vlan": 10,
                "voiceVlan": 20,
                "isolationEnabled": false,
                "rstpEnabled": true,
                "stpGuard": "disabled",
                "accessPolicyNumber": "1234",
                "linkNegotiation": "Auto negotiate",
                "portScheduleId": "1234",
                "udld": "Alert only",
                "macWhitelist": [
                  "34:56:fe:ce:8e:a0",
                  "34:56:fe:ce:8e:a1"
                ],
                "stickyMacWhitelist": [
                  "34:56:fe:ce:8e:b0",
                  "34:56:fe:ce:8e:b1"
                ],
                "stickyMacWhitelistLimit": 5,
                "stormControlEnabled": true
              }
            }
          }
        },
        "summary": "Update a switch port",
        "tags": [
          "Switch ports"
        ]
      }
    },
    "/devices/{serial}/wireless/bluetooth/settings": {
      "get": {
        "description": "Return the bluetooth settings for a wireless device",
        "operationId": "getDeviceWirelessBluetoothSettings",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "uuid": "00000000-0000-0000-000-000000000000",
                "major": 13,
                "minor": 125
              }
            }
          }
        },
        "summary": "Return the bluetooth settings for a wireless device",
        "tags": [
          "Bluetooth settings"
        ]
      },
      "put": {
        "description": "Update the bluetooth settings for a wireless device",
        "operationId": "updateDeviceWirelessBluetoothSettings",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceWirelessBluetoothSettings",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "Desired UUID of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value."
                },
                "major": {
                  "type": "integer",
                  "description": "Desired major value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value."
                },
                "minor": {
                  "type": "integer",
                  "description": "Desired minor value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value."
                }
              },
              "example": {
                "uuid": "00000000-0000-0000-000-000000000000",
                "major": 13,
                "minor": 125
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "uuid": "00000000-0000-0000-000-000000000000",
                "major": 13,
                "minor": 125
              }
            }
          }
        },
        "summary": "Update the bluetooth settings for a wireless device",
        "tags": [
          "Bluetooth settings"
        ]
      }
    },
    "/networks/{networkId}": {
      "get": {
        "description": "Return a network",
        "operationId": "getNetwork",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "id": "L_123456",
                "organizationId": "2930418",
                "name": "Long Island Office",
                "timeZone": "America/Los_Angeles",
                "tags": " tag1 tag2 ",
                "type": "combined",
                "productTypes": [
                  "appliance",
                  "switch",
                  "wireless"
                ],
                "disableMyMerakiCom": false,
                "enrollmentString": "long-island-office"
              }
            }
          }
        },
        "summary": "Return a network",
        "tags": [
          "Networks"
        ]
      },
      "put": {
        "description": "Update a network",
        "operationId": "updateNetwork",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateNetwork",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the network"
                },
                "timeZone": {
                  "type": "string",
                  "description": "The timezone of the network. For a list of allowed timezones, please see the 'TZ' column in the table in <a target='_blank' href='https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'>this article.</a>"
                },
                "tags": {
                  "type": "string",
                  "description": "A space-separated list of tags to be applied to the network"
                },
                "disableMyMerakiCom": {
                  "type": "boolean",
                  "description": "Disables the local device status pages (<a target='_blank' href='http://my.meraki.com/'>my.meraki.com, </a><a target='_blank' href='http://ap.meraki.com/'>ap.meraki.com, </a><a target='_blank' href='http://switch.meraki.com/'>switch.meraki.com, </a><a target='_blank' href='http://wired.meraki.com/'>wired.meraki.com</a>). Optional (defaults to false)"
                },
                "disableRemoteStatusPage": {
                  "type": "boolean",
                  "description": "Disables access to the device status page (<a target='_blank'>http://[device's LAN IP])</a>. Optional. Can only be set if disableMyMerakiCom is set to false"
                },
                "enrollmentString": {
                  "type": "string",
                  "description": "A unique identifier which can be used for device enrollment or easy access through the Meraki SM Registration page or the Self Service Portal. Please note that changing this field may cause existing bookmarks to break."
                }
              },
              "example": {
                "name": "Long Island Office",
                "timeZone": "America/Los_Angeles",
                "tags": " tag1 tag2 ",
                "disableMyMerakiCom": false
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "id": "L_123456",
                "organizationId": "2930418",
                "name": "Long Island Office",
                "timeZone": "America/Los_Angeles",
                "tags": " tag1 tag2 ",
                "type": "combined",
                "productTypes": [
                  "appliance",
                  "switch",
                  "wireless"
                ],
                "disableMyMerakiCom": false,
                "enrollmentString": "long-island-office"
              }
            }
          }
        },
        "summary": "Update a network",
        "tags": [
          "Networks"
        ]
      },
      "delete": {
        "description": "Delete a network",
        "operationId": "deleteNetwork",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          }
        },
        "summary": "Delete a network",
        "tags": [
          "Networks"
        ]
      }
    },
    "/networks/{networkId}/accessPolicies": {
      "get": {
        "description": "List the access policies for this network. Only valid for MS networks.",
        "operationId": "getNetworkAccessPolicies",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "number": 1,
                  "name": "My access policy",
                  "accessType": "8021.x",
                  "guestVlan": 3700,
                  "radiusServers": [
                    {
                      "ip": "1.2.3.4",
                      "port": 1337
                    },
                    {
                      "ip": "2.3.4.5",
                      "port": 1337
                    }
                  ]
                }
              ]
            }
          }
        },
        "summary": "List the access policies for this network. Only valid for MS networks.",
        "tags": [
          "Networks"
        ]
      }
    },
    "/networks/{networkId}/airMarshal": {
      "get": {
        "description": "List Air Marshal scan results from a network",
        "operationId": "getNetworkAirMarshal",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 7 days."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "ssid": "linksys",
                  "bssids": [
                    {
                      "bssid": "00:11:22:33:44:55",
                      "contained": false,
                      "detectedBy": [
                        {
                          "device": "Q234-ABCD-5678",
                          "rssi": 17
                        }
                      ]
                    }
                  ],
                  "channels": [
                    36,
                    40
                  ],
                  "firstSeen": 1518365681,
                  "lastSeen": 1526087474,
                  "wiredMacs": [
                    "00:11:22:33:44:55"
                  ],
                  "wiredVlans": [
                    0,
                    108
                  ],
                  "wiredLastSeen": 1526087474
                }
              ]
            }
          }
        },
        "summary": "List Air Marshal scan results from a network",
        "tags": [
          "Networks"
        ]
      }
    },
    "/networks/{networkId}/alertSettings": {
      "get": {
        "description": "Return the alert configuration for this network",
        "operationId": "getNetworkAlertSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "defaultDestinations": {
                  "emails": [
                    "miles@meraki.com"
                  ],
                  "allAdmins": true,
                  "snmp": true
                },
                "alerts": [
                  {
                    "type": "gatewayDown",
                    "enabled": true,
                    "alertDestinations": {
                      "emails": [
                        "miles@meraki.com"
                      ],
                      "allAdmins": false,
                      "snmp": false
                    },
                    "filters": {
                      "timeout": 60
                    }
                  }
                ]
              }
            }
          }
        },
        "summary": "Return the alert configuration for this network",
        "tags": [
          "Alert settings"
        ]
      },
      "put": {
        "description": "Update the alert configuration for this network",
        "operationId": "updateNetworkAlertSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateNetworkAlertSettings",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "defaultDestinations": {
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "A list of emails that will recieve the alert(s)."
                    },
                    "allAdmins": {
                      "type": "boolean",
                      "description": "If true, then all network admins will receive emails."
                    },
                    "snmp": {
                      "type": "boolean",
                      "description": "If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network."
                    },
                    "httpServerIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "A list of HTTP server IDs to send a Webhook to"
                    }
                  },
                  "description": "The network-wide destinations for all alerts on the network."
                },
                "alerts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of alert"
                      },
                      "enabled": {
                        "type": "boolean",
                        "description": "A boolean depicting if the alert is turned on or off"
                      },
                      "alertDestinations": {
                        "type": "object",
                        "properties": {
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "A list of emails that will receive information about the alert"
                          },
                          "allAdmins": {
                            "type": "boolean",
                            "description": "If true, then all network admins will receive emails for this alert"
                          },
                          "snmp": {
                            "type": "boolean",
                            "description": "If true, then an SNMP trap will be sent for this alert if there is an SNMP trap server configured for this network"
                          },
                          "httpServerIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "A list of HTTP server IDs to send a Webhook to for this alert"
                          }
                        },
                        "description": "A hash of destinations for this specific alert"
                      },
                      "filters": {
                        "type": "object",
                        "properties": {

                        },
                        "description": "A hash of specific configuration data for the alert. Only filters specific to the alert will be updated."
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  "description": "Alert-specific configuration for each type. Only alerts that pertain to the network can be updated."
                }
              },
              "example": {
                "defaultDestinations": {
                  "emails": [
                    "miles@meraki.com"
                  ],
                  "allAdmins": true,
                  "snmp": true
                },
                "alerts": [
                  {
                    "type": "gatewayDown",
                    "enabled": true,
                    "alertDestinations": {
                      "emails": [
                        "miles@meraki.com"
                      ],
                      "allAdmins": false,
                      "snmp": false
                    },
                    "filters": {
                      "timeout": 60
                    }
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "defaultDestinations": {
                  "emails": [
                    "miles@meraki.com"
                  ],
                  "allAdmins": true,
                  "snmp": true
                },
                "alerts": [
                  {
                    "type": "gatewayDown",
                    "enabled": true,
                    "alertDestinations": {
                      "emails": [
                        "miles@meraki.com"
                      ],
                      "allAdmins": false,
                      "snmp": false
                    },
                    "filters": {
                      "timeout": 60
                    }
                  }
                ]
              }
            }
          }
        },
        "summary": "Update the alert configuration for this network",
        "tags": [
          "Alert settings"
        ]
      }
    },
    "/networks/{networkId}/appliance/firewall/inboundFirewallRules": {
      "get": {
        "description": "Return the inbound firewall rules for an MX network",
        "operationId": "getNetworkApplianceFirewallInboundFirewallRules",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "rules": [
                  {
                    "comment": "Allow TCP traffic to subnet with HTTP servers.",
                    "policy": "allow",
                    "protocol": "tcp",
                    "destPort": 443,
                    "destCidr": "192.168.1.0/24",
                    "srcPort": "Any",
                    "srcCidr": "Any",
                    "syslogEnabled": false
                  }
                ],
                "syslogDefaultRule": true
              }
            }
          }
        },
        "summary": "Return the inbound firewall rules for an MX network",
        "tags": [
          "MX inbound firewall"
        ]
      },
      "put": {
        "description": "Update the inbound firewall rules of an MX network",
        "operationId": "updateNetworkApplianceFirewallInboundFirewallRules",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateNetworkApplianceFirewallInboundFirewallRules",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "rules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "comment": {
                        "type": "string",
                        "description": "Description of the rule (optional)"
                      },
                      "policy": {
                        "type": "string",
                        "enum": [
                          "allow",
                          "deny"
                        ],
                        "description": "'allow' or 'deny' traffic specified by this rule"
                      },
                      "protocol": {
                        "type": "string",
                        "enum": [
                          "tcp",
                          "udp",
                          "icmp",
                          "any"
                        ],
                        "description": "The type of protocol (must be 'tcp', 'udp', 'icmp' or 'any')"
                      },
                      "srcPort": {
                        "type": "string",
                        "description": "Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'"
                      },
                      "srcCidr": {
                        "type": "string",
                        "description": "Comma-separated list of source IP address(es) (in IP or CIDR notation), or 'any' (note: FQDN not supported for source addresses)"
                      },
                      "destPort": {
                        "type": "string",
                        "description": "Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'"
                      },
                      "destCidr": {
                        "type": "string",
                        "description": "Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'"
                      },
                      "syslogEnabled": {
                        "type": "boolean",
                        "description": "Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)"
                      }
                    },
                    "required": [
                      "policy",
                      "protocol",
                      "srcCidr",
                      "destCidr"
                    ]
                  },
                  "description": "An ordered array of the firewall rules (not including the default rule)"
                },
                "syslogDefaultRule": {
                  "type": "boolean",
                  "description": "Log the special default rule (boolean value - enable only if you've configured a syslog server) (optional)"
                }
              },
              "example": {
                "rules": [
                  {
                    "comment": "Allow TCP traffic to subnet with HTTP servers.",
                    "policy": "allow",
                    "protocol": "tcp",
                    "destPort": 443,
                    "destCidr": "192.168.1.0/24",
                    "srcPort": "Any",
                    "srcCidr": "Any",
                    "syslogEnabled": false
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "rules": [
                  {
                    "comment": "Allow TCP traffic to subnet with HTTP servers.",
                    "policy": "allow",
                    "protocol": "tcp",
                    "destPort": 443,
                    "destCidr": "192.168.1.0/24",
                    "srcPort": "Any",
                    "srcCidr": "Any",
                    "syslogEnabled": false
                  }
                ],
                "syslogDefaultRule": true
              }
            }
          }
        },
        "summary": "Update the inbound firewall rules of an MX network",
        "tags": [
          "MX inbound firewall"
        ]
      }
    },
    "/networks/{networkId}/appliancePorts": {
      "get": {
        "description": "List per-port VLAN settings for all ports of a MX.",
        "operationId": "getNetworkAppliancePorts",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "number": 1,
                  "enabled": true,
                  "type": "access",
                  "dropUntaggedTraffic": false,
                  "vlan": 3,
                  "accessPolicy": "open"
                }
              ]
            }
          }
        },
        "summary": "List per-port VLAN settings for all ports of a MX.",
        "tags": [
          "MX VLAN ports"
        ]
      }
    },
    "/networks/{networkId}/appliancePorts/{appliancePortId}": {
      "get": {
        "description": "Return per-port VLAN settings for a single MX port.",
        "operationId": "getNetworkAppliancePort",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "appliancePortId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "number": 1,
                "enabled": true,
                "type": "access",
                "dropUntaggedTraffic": false,
                "vlan": 3,
                "accessPolicy": "open"
              }
            }
          }
        },
        "summary": "Return per-port VLAN settings for a single MX port.",
        "tags": [
          "MX VLAN ports"
        ]
      },
      "put": {
        "description": "Update the per-port VLAN settings for a single MX port.",
        "operationId": "updateNetworkAppliancePort",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "appliancePortId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateNetworkAppliancePort",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "enabled": {
                  "type": "boolean",
                  "description": "The status of the port"
                },
                "dropUntaggedTraffic": {
                  "type": "boolean",
                  "description": "Trunk port can Drop all Untagged traffic. When true, no VLAN is required. Access ports cannot have dropUntaggedTraffic set to true."
                },
                "type": {
                  "type": "string",
                  "description": "The type of the port: 'access' or 'trunk'."
                },
                "vlan": {
                  "type": "integer",
                  "description": "Native VLAN when the port is in Trunk mode. Access VLAN when the port is in Access mode."
                },
                "allowedVlans": {
                  "type": "string",
                  "description": "Comma-delimited list of the VLAN ID's allowed on the port, or 'all' to permit all VLAN's on the port."
                },
                "accessPolicy": {
                  "type": "string",
                  "description": "The name of the policy. Only applicable to Access ports. Valid values are: 'open', '8021x-radius', 'mac-radius', 'hybris-radius' for MX64 or Z3 or any MX supporting the per port authentication feature. Otherwise, 'open' is the only valid value and 'open' is the default value if the field is missing."
                }
              },
              "example": {
                "enabled": true,
                "type": "access",
                "dropUntaggedTraffic": false,
                "vlan": 3,
                "accessPolicy": "open"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "number": 1,
                "enabled": true,
                "type": "access",
                "dropUntaggedTraffic": false,
                "vlan": 3,
                "accessPolicy": "open"
              }
            }
          }
        },
        "summary": "Update the per-port VLAN settings for a single MX port.",
        "tags": [
          "MX VLAN ports"
        ]
      }
    },
    "/networks/{networkId}/bind": {
      "post": {
        "description": "Bind a network to a template.",
        "operationId": "bindNetwork",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "bindNetwork",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "configTemplateId": {
                  "type": "string",
                  "description": "The ID of the template to which the network should be bound."
                },
                "autoBind": {
                  "type": "boolean",
                  "description": "Optional boolean indicating whether the network's switches should automatically bind to profiles of the same model. Defaults to false if left unspecified. This option only affects switch networks and switch templates. Auto-bind is not valid unless the switch template has at least one profile and has at most one profile per switch model."
                }
              },
              "example": {
                "configTemplateId": "N_23952905",
                "autoBind": false
              },
              "required": [
                "configTemplateId"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "summary": "Bind a network to a template.",
        "tags": [
          "Networks"
        ]
      }
    },
    "/networks/{networkId}/bluetoothClients": {
      "get": {
        "description": "List the Bluetooth clients seen by APs in this network",
        "operationId": "getNetworkBluetoothClients",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 7 days from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 7 days. The default is 1 day."
          },
          {
            "type": "integer",
            "name": "perPage",
            "in": "query",
            "description": "The number of entries per page returned. Acceptable range is 5 - 1000. Default is 10."
          },
          {
            "type": "string",
            "name": "startingAfter",
            "in": "query",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "type": "string",
            "name": "endingBefore",
            "in": "query",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "type": "boolean",
            "name": "includeConnectivityHistory",
            "in": "query",
            "description": "Include the connectivity history for this client"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "headers": {
              "Link": {
                "type": "string",
                "description": "A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests."
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": "1284392014819",
                  "mac": "22:33:44:55:66:77",
                  "networkId": "N_24329156",
                  "name": "Miles's phone",
                  "deviceName": "Bose QuietComfort 35",
                  "manufacturer": "Bose",
                  "lastSeen": 1526087474,
                  "seenByDeviceMac": "00:11:22:33:44:55",
                  "inSightAlert": false,
                  "outOfSightAlert": false,
                  "tags": [
                    "tag1",
                    "tag2"
                  ]
                }
              ]
            }
          }
        },
        "summary": "List the Bluetooth clients seen by APs in this network",
        "tags": [
          "Bluetooth clients"
        ]
      }
    },
    "/networks/{networkId}/bluetoothClients/{bluetoothClientId}": {
      "get": {
        "description": "Return a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC.",
        "operationId": "getNetworkBluetoothClient",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "bluetoothClientId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "boolean",
            "name": "includeConnectivityHistory",
            "in": "query",
            "description": "Include the connectivity history for this client"
          },
          {
            "type": "integer",
            "name": "connectivityHistoryTimespan",
            "in": "query",
            "description": "The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "id": "1284392014819",
                "mac": "22:33:44:55:66:77",
                "networkId": "N_24329156",
                "name": "Miles's phone",
                "deviceName": "Bose QuietComfort 35",
                "manufacturer": "Bose",
                "lastSeen": 1526087474,
                "seenByDeviceMac": "00:11:22:33:44:55",
                "inSightAlert": false,
                "outOfSightAlert": false,
                "tags": [
                  "tag1",
                  "tag2"
                ]
              }
            }
          }
        },
        "summary": "Return a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC.",
        "tags": [
          "Bluetooth clients"
        ]
      }
    },
    "/networks/{networkId}/bluetoothSettings": {
      "get": {
        "description": "Return the Bluetooth settings for a network. <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a> must be enabled on the network.",
        "operationId": "getNetworkBluetoothSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "scanningEnabled": true,
                "advertisingEnabled": true,
                "uuid": "00000000-0000-0000-000-000000000000",
                "majorMinorAssignmentMode": "Non-unique",
                "major": 1
              }
            }
          }
        },
        "summary": "Return the Bluetooth settings for a network. <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a> must be enabled on the network.",
        "tags": [
          "Bluetooth settings"
        ]
      },
      "put": {
        "description": "Update the Bluetooth settings for a network. See the docs page for <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a>.",
        "operationId": "updateNetworkBluetoothSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateNetworkBluetoothSettings",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "scanningEnabled": {
                  "type": "boolean",
                  "description": "Whether APs will scan for Bluetooth enabled clients. (true, false)"
                },
                "advertisingEnabled": {
                  "type": "boolean",
                  "description": "Whether APs will advertise beacons. (true, false)"
                },
                "uuid": {
                  "type": "string",
                  "description": "The UUID to be used in the beacon identifier."
                },
                "majorMinorAssignmentMode": {
                  "type": "string",
                  "enum": [
                    "Unique",
                    "Non-unique"
                  ],
                  "description": "The way major and minor number should be assigned to nodes in the network. ('Unique', 'Non-unique')"
                },
                "major": {
                  "type": "integer",
                  "description": "The major number to be used in the beacon identifier. Only valid in 'Non-unique' mode."
                },
                "minor": {
                  "type": "integer",
                  "description": "The minor number to be used in the beacon identifier. Only valid in 'Non-unique' mode."
                }
              },
              "example": {
                "scanningEnabled": true,
                "advertisingEnabled": true,
                "uuid": "00000000-0000-0000-000-000000000000",
                "majorMinorAssignmentMode": "Non-unique",
                "major": 1
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "scanningEnabled": true,
                "advertisingEnabled": true,
                "uuid": "00000000-0000-0000-000-000000000000",
                "majorMinorAssignmentMode": "Non-unique",
                "major": 1
              }
            }
          }
        },
        "summary": "Update the Bluetooth settings for a network. See the docs page for <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a>.",
        "tags": [
          "Bluetooth settings"
        ]
      }
    },
    "/networks/{networkId}/camera/qualityRetentionProfiles": {
      "get": {
        "description": "List the quality retention profiles for this network",
        "operationId": "getNetworkCameraQualityRetentionProfiles",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "id": "1234",
                  "networkId": "N_24329156",
                  "name": "Sample quality retention profile",
                  "restrictedBandwidthModeEnabled": true,
                  "motionBasedRetentionEnabled": false,
                  "audioRecordingEnabled": false,
                  "cloudArchiveEnabled": false,
                  "maxRetentionDays": 7,
                  "scheduleId": null,
                  "motionDetectorVersion": 2,
                  "videoSettings": {
                    "MV32": {
                      "quality": "Enhanced",
                      "resolution": "1080x1080"
                    },
                    "MV21/MV71": {
                      "quality": "High",
                      "resolution": "1280x720"
                    },
                    "MV12/MV22/MV72": {
                      "quality": "High",
                      "resolution": "1920x1080"
                    },
                    "MV12WE": {
                      "quality": "High",
                      "resolution": "1920x1080"
                    }
                  }
                }
              ]
            }
          }
        },
        "summary": "List the quality retention profiles for this network",
        "tags": [
          "Camera quality retention profiles"
        ]
      },
      "post": {
        "description": "Creates new quality retention profile for this network.",
        "operationId": "createNetworkCameraQualityRetentionProfile",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "createNetworkCameraQualityRetentionProfile",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the new profile. Must be unique. This parameter is required."
                },
                "motionBasedRetentionEnabled": {
                  "type": "boolean",
                  "description": "Deletes footage older than 3 days in which no motion was detected. Can be either true or false. Defaults to false."
                },
                "restrictedBandwidthModeEnabled": {
                  "type": "boolean",
                  "description": "Disable features that require additional bandwidth such as Motion Recap. Can be either true or false. Defaults to false."
                },
                "audioRecordingEnabled": {
                  "type": "boolean",
                  "description": "Whether or not to record audio. Can be either true or false. Defaults to false."
                },
                "cloudArchiveEnabled": {
                  "type": "boolean",
                  "description": "Create redundant video backup using Cloud Archive. Can be either true or false. Defaults to false."
                },
                "motionDetectorVersion": {
                  "type": "integer",
                  "description": "The version of the motion detector that will be used by the camera. Only applies to Gen 2 cameras. Defaults to v2."
                },
                "scheduleId": {
                  "type": "string",
                  "description": "Schedule for which this camera will record video, or 'null' to always record."
                },
                "maxRetentionDays": {
                  "type": "integer",
                  "description": "The maximum number of days for which the data will be stored, or 'null' to keep data until storage space runs out. If the former, it can be one of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 30, 60, 90] days"
                },
                "videoSettings": {
                  "type": "object",
                  "properties": {
                    "MV21/MV71": {
                      "type": "object",
                      "properties": {
                        "quality": {
                          "type": "string",
                          "enum": [
                            "Standard",
                            "Enhanced",
                            "High"
                          ],
                          "description": "Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'."
                        },
                        "resolution": {
                          "type": "string",
                          "enum": [
                            "1280x720"
                          ],
                          "description": "Resolution of the camera. Can be one of '1280x720'."
                        }
                      },
                      "required": [
                        "quality",
                        "resolution"
                      ],
                      "description": "Quality and resolution for MV21/MV71 camera models."
                    },
                    "MV12/MV22/MV72": {
                      "type": "object",
                      "properties": {
                        "quality": {
                          "type": "string",
                          "enum": [
                            "Standard",
                            "Enhanced",
                            "High"
                          ],
                          "description": "Quality of the camera. Can be one of 'Standard', 'Enhanced' or 'High'."
                        },
                        "resolution": {
                          "type": "string",
                          "enum": [
                            "1280x720",
                            "1920x1080"
                          ],
                          "description": "Resolution of the camera. Can be one of '1280x720' or '1920x1080'."
                        }
                      },
                      "required": [
                        "quality",
                        "resolution"
                      ],
                      "description": "Quality and resolution for MV12/MV22/MV72 camera models."
                    },
                    "MV32": {
                      "type": "object",
                      "properties": {
                        "quality": {
                          "type": "string",
                          "enum": [
                            "Standard",
                            "Enhanced"
                          ],
                          "description": "Quality of the camera. Can be one of 'Standard' or 'Enhanced'."
                        },
                        "resolution": {
                          "type": "string",
                          "enum": [
                            "1080x1080",
                            "2058x2058"
                          ],
                          "description": "Resolution of the camera. Can be one of '1080x1080' or '2058x2058'."
                        }
                      },
                      "required": [
                        "quality",
                        "resolution"
                      ],
                      "description": "Quality and resolution for MV32 camera models."
                    },
                    "MV12WE": {
                      "type": "object",
                      "properties": {
                        "quality": {
                          "type": "string",
                          "enum": [
[...]
