{
  "swagger": "2.0",
  "info": {
    "version": "0.4.0",
    "title": "Meraki Dashboard API",
    "description": "The Cisco Meraki Dashboard API is a modern REST API based on the [OpenAPI](https://swagger.io/docs/specification/about/) specification.\n\n## What can the API be used for?\nThe Dashboard API can be used for many purposes. It's meant to be an open-ended tool. Here are some examples of use cases:\n\n* Add new organizations, admins, networks, devices, VLANs, and more\n* Configure networks at scale\n* Automatically on-board and off-board new employees' teleworker setups\n* Build your own dashboard for store managers, field techs, or unique use cases\n\n## Enabling the Dashboard API\n1. Begin by logging into [Meraki Dashboard](https://dashboard.meraki.com) and navigating to **Organization > Settings**\n\n2. Locate the section titled **Dashboard API access** and select **Enable Access**, then **Save** your changes\n\n3. After enabling the API, choose your username at the top-right of the Meraki Dashboard and select **my profile**\n\n4. Locate the section titled **Dashboard API access** and select **Generate new API key**\n\n*Note: The API key is associated with a Dashboard administrator account. You can generate, revoke, and regenerate your API key on your profile.*\n\n**Keep your API key safe as it provides authentication to all of your organizations with the API enabled. If your API key is shared, you can regenerate your API key at any time. This will revoke the existing API key.**\n\nCopy and store your API key in a safe place. Dashboard does not store API keys in plaintext for security reasons, so this is the only time you will be able to record it. If you lose or forget your API key, you will have to revoke it and generate a new one.\n\nEvery request must specify an API key via a request header.\n\nThe API key must be specified in the URL header. The API will return a 404 (rather than a 403) in response to a request with a missing or incorrect API key in order to prevent leaking the existence of resources to unauthorized users.\n\n`X-Cisco-Meraki-API-Key: <secret key>`\n\nRead more about API [authorization](../api/#/python/getting-started/authorizing-your-client)\n\n\n## Versioning\nOnce an API version is released, we will make only backwards-compatible changes to it. Backwards-compatible changes include:\n\n* Adding new API resources\n\n* Adding new optional request parameters to existing API methods\n\n* Adding new properties to existing API responses\n\n* Changing the order of properties in existing API responses\n\n## Rate Limit\n* The Dashboard API is limited to **5 calls per second**, per organization.\n* A burst of 5 additional calls are allowed in the first second, so a maximum of 15 calls in the first 2 seconds.\n* The rate limiting technique is based off of the [token bucket model](https://en.wikipedia.org/wiki/Token_bucket).\n* An error with a `429` status code will be returned when the rate limit has been exceeded.\n* Expect to backoff for 1 - 2 seconds if the limit has been exceeded. You may have to wait potentially longer if a large number of requests were made within this timeframe.\n\n\n## Additional Details\nIdentifiers in the API are opaque strings. A `{networkId}`, for example, might be the string \"126043\", whereas an `{orderId}` might contain characters, such as \"4S1234567\". Client applications must not try to parse them as numbers. Even identifiers that look like numbers might be too long to encode without loss of precision in Javascript, where the only numeric type is IEEE 754 floating point.\n\nVerbs in the API follow the usual REST conventions:\n\n`GET` returns the value of a resource or a list of resources, depending on whether an identifier is specified. For example, a `GET` of `/organizations` returns a list of organizations, whereas a `GET` of `/organizations/{organizationId}` returns a particular organization.\n\n`POST` adds a new resource, as in a `POST` to `/organizations/{organizationId}/admins`, or performs some other non-idempotent change.\n\n`PUT` updates a resource. `PUTs` are idempotent; they update a resource, creating it first if it does not already exist. A `PUT` should specify all the fields of a resource; the API will revert omitted fields to their default value.\n\n`DELETE` removes a resource.\n",
    "x-codegen-settings": {
      "appendContentHeaders": true,
      "brandLabel": "meraki",
      "collectParameters": true,
      "doNotSplitWords": [
        "NetFlow",
        "SSIDs",
        "VLANs"
      ],
      "generateAdvancedDocs": true,
      "generateAsyncCode": true,
      "projectName": "meraki",
      "sortResources": true,
      "useEnumPostfix": true,
      "useMethodPrefix": false,
      "useModelPostfix": true,
      "validateRequiredParameters": true
    }
  },
  "host": "api.meraki.com",
  "basePath": "/api/v0",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "meraki_api_key": {
      "type": "apiKey",
      "name": "X-Cisco-Meraki-API-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "meraki_api_key": [

      ]
    }
  ],
  "paths": {
    "/devices/{serial}/camera/analytics/live": {
      "get": {
        "description": "Returns live state from camera of analytics zones",
        "operationId": "getDeviceCameraAnalyticsLive",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "ts": "2018-08-15T18:32:38.123Z",
                "zones": {
                  "0": {
                    "person": 0
                  }
                }
              }
            }
          }
        },
        "summary": "Returns live state from camera of analytics zones",
        "tags": [
          "MV Sense"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/overview": {
      "get": {
        "description": "Returns an overview of aggregate analytics data for a timespan",
        "operationId": "getDeviceCameraAnalyticsOverview",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 365 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour."
          },
          {
            "type": "string",
            "enum": [
              "person",
              "vehicle"
            ],
            "name": "objectType",
            "in": "query",
            "description": "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "zoneId": 0,
                  "entrances": 254,
                  "averageCount": 5
                }
              ]
            }
          }
        },
        "summary": "Returns an overview of aggregate analytics data for a timespan",
        "tags": [
          "MV Sense"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/recent": {
      "get": {
        "description": "Returns most recent record for analytics zones",
        "operationId": "getDeviceCameraAnalyticsRecent",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "enum": [
              "person",
              "vehicle"
            ],
            "name": "objectType",
            "in": "query",
            "description": "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "zoneId": 0,
                  "entrances": 10,
                  "averageCount": 2.54
                }
              ]
            }
          }
        },
        "summary": "Returns most recent record for analytics zones",
        "tags": [
          "MV Sense"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/zones": {
      "get": {
        "description": "Returns all configured analytic zones for this camera",
        "operationId": "getDeviceCameraAnalyticsZones",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "id": "0",
                  "type": "occupancy",
                  "label": "Full Frame"
                }
              ]
            }
          }
        },
        "summary": "Returns all configured analytic zones for this camera",
        "tags": [
          "MV Sense"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/zones/{zoneId}/history": {
      "get": {
        "description": "Return historical records for analytic zones",
        "operationId": "getDeviceCameraAnalyticsZoneHistory",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "zoneId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 365 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 14 hours after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour."
          },
          {
            "type": "integer",
            "name": "resolution",
            "in": "query",
            "description": "The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60."
          },
          {
            "type": "string",
            "enum": [
              "person",
              "vehicle"
            ],
            "name": "objectType",
            "in": "query",
            "description": "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "entrances": 5,
                  "averageCount": 1.5
                }
              ]
            }
          }
        },
        "summary": "Return historical records for analytic zones",
        "tags": [
          "MV Sense"
        ]
      }
    },
    "/devices/{serial}/clients": {
      "get": {
        "description": "List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.",
        "operationId": "getDeviceClients",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "usage": {
                  "sent": 138.0,
                  "recv": 61.0
                },
                "id": "k74272e",
                "description": "Miles's phone",
                "mac": "00:11:22:33:44:55",
                "ip": "1.2.3.4",
                "user": "milesmeraki",
                "vlan": 255,
                "switchport": null,
                "mdnsName": "Miles's phone",
                "dhcpHostname": "MilesPhone"
              }
            }
          }
        },
        "summary": "List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.",
        "tags": [
          "Clients"
        ]
      }
    },
    "/devices/{serial}/switchPorts": {
      "get": {
        "description": "List the switch ports for a switch",
        "operationId": "getDeviceSwitchPorts",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "number": 1,
                  "name": "My switch port",
                  "tags": "tag1 tag2",
                  "enabled": true,
                  "poeEnabled": true,
                  "type": "access",
                  "vlan": 10,
                  "voiceVlan": 20,
                  "isolationEnabled": false,
                  "rstpEnabled": true,
                  "stpGuard": "disabled",
                  "accessPolicyNumber": "1234",
                  "linkNegotiation": "Auto negotiate",
                  "portScheduleId": "1234",
                  "udld": "Alert only",
                  "stickyMacWhitelist": [
                    "34:56:fe:ce:8e:b0",
                    "34:56:fe:ce:8e:b1"
                  ],
                  "stickyMacWhitelistLimit": 5
                }
              ]
            }
          }
        },
        "summary": "List the switch ports for a switch",
        "tags": [
          "Switch ports"
        ]
      }
    },
    "/devices/{serial}/switchPorts/{number}": {
      "get": {
        "description": "Return a switch port",
        "operationId": "getDeviceSwitchPort",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "number",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "number": 1,
                "name": "My switch port",
                "tags": "tag1 tag2",
                "enabled": true,
                "poeEnabled": true,
                "type": "access",
                "vlan": 10,
                "voiceVlan": 20,
                "isolationEnabled": false,
                "rstpEnabled": true,
                "stpGuard": "disabled",
                "accessPolicyNumber": "1234",
                "linkNegotiation": "Auto negotiate",
                "portScheduleId": "1234",
                "udld": "Alert only",
                "stickyMacWhitelist": [
                  "34:56:fe:ce:8e:b0",
                  "34:56:fe:ce:8e:b1"
                ],
                "stickyMacWhitelistLimit": 5
              }
            }
          }
        },
        "summary": "Return a switch port",
        "tags": [
          "Switch ports"
        ]
      },
      "put": {
        "description": "Update a switch port",
        "operationId": "updateDeviceSwitchPort",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "number",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceSwitchPort",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the switch port"
                },
                "tags": {
                  "type": "string",
                  "description": "The tags of the switch port"
                },
                "enabled": {
                  "type": "boolean",
                  "description": "The status of the switch port"
                },
                "type": {
                  "type": "string",
                  "description": "The type of the switch port (\"access\" or \"trunk\")"
                },
                "vlan": {
                  "type": "integer",
                  "description": "The VLAN of the switch port. A null value will clear the value set for trunk ports."
                },
                "voiceVlan": {
                  "type": "integer",
                  "description": "The voice VLAN of the switch port. Only applicable to access ports."
                },
                "allowedVlans": {
                  "type": "string",
                  "description": "The VLANs allowed on the switch port. Only applicable to trunk ports."
                },
                "poeEnabled": {
                  "type": "boolean",
                  "description": "The PoE status of the switch port"
                },
                "isolationEnabled": {
                  "type": "boolean",
                  "description": "The isolation status of the switch port"
                },
                "rstpEnabled": {
                  "type": "boolean",
                  "description": "The rapid spanning tree protocol status"
                },
                "stpGuard": {
                  "type": "string",
                  "description": "The state of the STP guard (\"disabled\", \"Root guard\", \"BPDU guard\", \"Loop guard\")"
                },
                "accessPolicyNumber": {
                  "type": "integer",
                  "description": "The number of the access policy of the switch port. Only applicable to access ports."
                },
                "linkNegotiation": {
                  "type": "string",
                  "description": "The link speed for the switch port"
                },
                "portScheduleId": {
                  "type": "string",
                  "description": "The ID of the port schedule. A value of null will clear the port schedule."
                },
                "udld": {
                  "type": "string",
                  "enum": [
                    "Alert only",
                    "Enforce"
                  ],
                  "description": "The action to take when Unidirectional Link is detected (Alert only, Enforce). Default configuration is Alert only."
                },
                "macWhitelist": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Only devices with MAC addresses specified in this list will have access to this port.  Up to 20 MAC addresses can be defined."
                },
                "stickyMacWhitelist": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The initial list of MAC addresses for sticky Mac whitelist."
                },
                "stickyMacWhitelistLimit": {
                  "type": "integer",
                  "description": "The maximum number of MAC addresses for sticky MAC whitelist."
                }
              },
              "example": {
                "name": "My switch port",
                "tags": "tag1 tag2",
                "enabled": true,
                "poeEnabled": true,
                "type": "access",
                "vlan": 10,
                "voiceVlan": 20,
                "isolationEnabled": false,
                "rstpEnabled": true,
                "stpGuard": "disabled",
                "accessPolicyNumber": "1234",
                "linkNegotiation": "Auto negotiate",
                "portScheduleId": "1234",
                "udld": "Alert only",
                "stickyMacWhitelist": [
                  "34:56:fe:ce:8e:b0",
                  "34:56:fe:ce:8e:b1"
                ],
                "stickyMacWhitelistLimit": 5
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "number": 1,
                "name": "My switch port",
                "tags": "tag1 tag2",
                "enabled": true,
                "poeEnabled": true,
                "type": "access",
                "vlan": 10,
                "voiceVlan": 20,
                "isolationEnabled": false,
                "rstpEnabled": true,
                "stpGuard": "disabled",
                "accessPolicyNumber": "1234",
                "linkNegotiation": "Auto negotiate",
                "portScheduleId": "1234",
                "udld": "Alert only",
                "stickyMacWhitelist": [
                  "34:56:fe:ce:8e:b0",
                  "34:56:fe:ce:8e:b1"
                ],
                "stickyMacWhitelistLimit": 5
              }
            }
          }
        },
        "summary": "Update a switch port",
        "tags": [
          "Switch ports"
        ]
      }
    },
    "/networks/{networkId}": {
      "get": {
        "description": "Return a network",
        "operationId": "getNetwork",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "id": "L_123456",
                "organizationId": "2930418",
                "name": "Long Island Office",
                "timeZone": "America/Los_Angeles",
                "tags": " tag1 tag2 ",
                "type": "combined",
                "productTypes": [
                  "appliance",
                  "switch",
                  "wireless"
                ],
                "disableMyMerakiCom": false
              }
            }
          }
        },
        "summary": "Return a network",
        "tags": [
          "Networks"
        ]
      },
      "put": {
        "description": "Update a network",
        "operationId": "updateNetwork",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateNetwork",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the network"
                },
                "timeZone": {
                  "type": "string",
                  "description": "The timezone of the network. For a list of allowed timezones, please see the 'TZ' column in the table in <a target='_blank' href='https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'>this article.</a>"
                },
                "tags": {
                  "type": "string",
                  "description": "A space-separated list of tags to be applied to the network"
                },
                "disableMyMerakiCom": {
                  "type": "boolean",
                  "description": "Disables the local device status pages (<a target='_blank' href='http://my.meraki.com/'>my.meraki.com, </a><a target='_blank' href='http://ap.meraki.com/'>ap.meraki.com, </a><a target='_blank' href='http://switch.meraki.com/'>switch.meraki.com, </a><a target='_blank' href='http://wired.meraki.com/'>wired.meraki.com</a>). Optional (defaults to false)"
                },
                "disableRemoteStatusPage": {
                  "type": "boolean",
                  "description": "Disables access to the device status page (<a target='_blank'>http://[device's LAN IP])</a>. Optional. Can only be set if disableMyMerakiCom is set to false"
                }
              },
              "example": {
                "name": "Long Island Office",
                "timeZone": "America/Los_Angeles",
                "tags": " tag1 tag2 ",
                "disableMyMerakiCom": false
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "id": "L_123456",
                "organizationId": "2930418",
                "name": "Long Island Office",
                "timeZone": "America/Los_Angeles",
                "tags": " tag1 tag2 ",
                "type": "combined",
                "productTypes": [
                  "appliance",
                  "switch",
                  "wireless"
                ],
                "disableMyMerakiCom": false
              }
            }
          }
        },
        "summary": "Update a network",
        "tags": [
          "Networks"
        ]
      },
      "delete": {
        "description": "Delete a network",
        "operationId": "deleteNetwork",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          }
        },
        "summary": "Delete a network",
        "tags": [
          "Networks"
        ]
      }
    },
    "/networks/{networkId}/accessPolicies": {
      "get": {
        "description": "List the access policies for this network. Only valid for MS networks.",
        "operationId": "getNetworkAccessPolicies",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "number": 1,
                  "name": "My access policy",
                  "accessType": "8021.x",
                  "guestVlan": 3700,
                  "radiusServers": [
                    {
                      "ip": "1.2.3.4",
                      "port": 1337
                    },
                    {
                      "ip": "2.3.4.5",
                      "port": 1337
                    }
                  ]
                }
              ]
            }
          }
        },
        "summary": "List the access policies for this network. Only valid for MS networks.",
        "tags": [
          "Networks"
        ]
      }
    },
    "/networks/{networkId}/airMarshal": {
      "get": {
        "description": "List Air Marshal scan results from a network",
        "operationId": "getNetworkAirMarshal",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 7 days."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "ssid": "linksys",
                  "bssids": [
                    {
                      "bssid": "00:11:22:33:44:55",
                      "contained": false,
                      "detectedBy": [
                        {
                          "device": "Q234-ABCD-5678",
                          "rssi": 17
                        }
                      ]
                    }
                  ],
                  "channels": [
                    36,
                    40
                  ],
                  "firstSeen": 1518365681,
                  "lastSeen": 1526087474,
                  "wiredMacs": [
                    "00:11:22:33:44:55"
                  ],
                  "wiredVlans": [
                    0,
                    108
                  ],
                  "wiredLastSeen": 1526087474
                }
              ]
            }
          }
        },
        "summary": "List Air Marshal scan results from a network",
        "tags": [
          "Networks"
        ]
      }
    },
    "/networks/{networkId}/alertSettings": {
      "get": {
        "description": "Return the alert configuration for this network",
        "operationId": "getNetworkAlertSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "defaultDestinations": {
                  "emails": [
                    "miles@meraki.com"
                  ],
                  "allAdmins": true,
                  "snmp": true
                },
                "alerts": [
                  {
                    "type": "gatewayDown",
                    "enabled": true,
                    "alertDestinations": {
                      "emails": [
                        "miles@meraki.com"
                      ],
                      "allAdmins": false,
                      "snmp": false
                    },
                    "filters": {
                      "timeout": 60
                    }
                  }
                ]
              }
            }
          }
        },
        "summary": "Return the alert configuration for this network",
        "tags": [
          "Alert settings"
        ]
      },
      "put": {
        "description": "Update the alert configuration for this network",
        "operationId": "updateNetworkAlertSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateNetworkAlertSettings",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "defaultDestinations": {
                  "description": "The network_wide destinations for all alerts on the network.",
                  "type": "object",
                  "properties": {
                    "emails": {
                      "description": "A list of emails that will recieve the alert(s).",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "allAdmins": {
                      "description": "If true, then all network admins will receive emails.",
                      "type": "boolean"
                    },
                    "snmp": {
                      "description": "If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network.",
                      "type": "boolean"
                    }
                  }
                },
                "alerts": {
                  "description": "Alert-specific configuration for each type. Only alerts that pertain to the network can be updated.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "The type of alert",
                        "type": "string"
                      },
                      "enabled": {
                        "description": "A boolean depicting if the alert is turned on or off",
                        "type": "boolean"
                      },
                      "alertDestinations": {
                        "description": "A hash of destinations for this specific alert. Keys include: emails: A list of emails that will recieve information about the alert, allAdmins: If true, then all network admins will receive emails, and snmp: If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network.",
                        "type": "object"
                      },
                      "filters": {
                        "description": "A hash of specific configuration data for the alert. Only filters specific to the alert will be updated.",
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "example": {
                "defaultDestinations": {
                  "emails": [
                    "miles@meraki.com"
                  ],
                  "allAdmins": true,
                  "snmp": true
                },
                "alerts": [
                  {
                    "type": "gatewayDown",
                    "enabled": true,
                    "alertDestinations": {
                      "emails": [
                        "miles@meraki.com"
                      ],
                      "allAdmins": false,
                      "snmp": false
                    },
                    "filters": {
                      "timeout": 60
                    }
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "defaultDestinations": {
                  "emails": [
                    "miles@meraki.com"
                  ],
                  "allAdmins": true,
                  "snmp": true
                },
                "alerts": [
                  {
                    "type": "gatewayDown",
                    "enabled": true,
                    "alertDestinations": {
                      "emails": [
                        "miles@meraki.com"
                      ],
                      "allAdmins": false,
                      "snmp": false
                    },
                    "filters": {
                      "timeout": 60
                    }
                  }
                ]
              }
            }
          }
        },
        "summary": "Update the alert configuration for this network",
        "tags": [
          "Alert settings"
        ]
      }
    },
    "/networks/{networkId}/appliancePorts": {
      "get": {
        "description": "List per-port VLAN settings for all ports of a MX.",
        "operationId": "getNetworkAppliancePorts",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "number": 1,
                  "enabled": true,
                  "type": "access",
                  "dropUntaggedTraffic": false,
                  "vlan": 3,
                  "accessPolicy": "open"
                }
              ]
            }
          }
        },
        "summary": "List per-port VLAN settings for all ports of a MX.",
        "tags": [
          "MX VLAN ports"
        ]
      }
    },
    "/networks/{networkId}/appliancePorts/{appliancePortId}": {
      "get": {
        "description": "Return per-port VLAN settings for a single MX port.",
        "operationId": "getNetworkAppliancePort",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "appliancePortId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "number": 1,
                "enabled": true,
                "type": "access",
                "dropUntaggedTraffic": false,
                "vlan": 3,
                "accessPolicy": "open"
              }
            }
          }
        },
        "summary": "Return per-port VLAN settings for a single MX port.",
        "tags": [
          "MX VLAN ports"
        ]
      },
      "put": {
        "description": "Update the per-port VLAN settings for a single MX port.",
        "operationId": "updateNetworkAppliancePort",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "appliancePortId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateNetworkAppliancePort",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "enabled": {
                  "type": "boolean",
                  "description": "The status of the port"
                },
                "dropUntaggedTraffic": {
                  "type": "boolean",
                  "description": "Trunk port can Drop all Untagged traffic. When true, no VLAN is required. Access ports cannot have dropUntaggedTraffic set to true."
                },
                "type": {
                  "type": "string",
                  "description": "The type of the port: 'access' or 'trunk'."
                },
                "vlan": {
                  "type": "integer",
                  "description": "Native VLAN when the port is in Trunk mode. Access VLAN when the port is in Access mode."
                },
                "allowedVlans": {
                  "type": "string",
                  "description": "Comma-delimited list of the VLAN ID's allowed on the port, or 'all' to permit all VLAN's on the port."
                },
                "accessPolicy": {
                  "type": "string",
                  "description": "The name of the policy. Only applicable to Access ports. Valid values are: 'open', '8021x-radius', 'mac-radius', 'hybris-radius' for MX64 or Z3 or any MX supporting the per port authentication feature. Otherwise, 'open' is the only valid value and 'open' is the default value if the field is missing."
                }
              },
              "example": {
                "enabled": true,
                "type": "access",
                "dropUntaggedTraffic": false,
                "vlan": 3,
                "accessPolicy": "open"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "number": 1,
                "enabled": true,
                "type": "access",
                "dropUntaggedTraffic": false,
                "vlan": 3,
                "accessPolicy": "open"
              }
            }
          }
        },
        "summary": "Update the per-port VLAN settings for a single MX port.",
        "tags": [
          "MX VLAN ports"
        ]
      }
    },
    "/networks/{networkId}/bind": {
      "post": {
        "description": "Bind a network to a template.",
        "operationId": "bindNetwork",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "bindNetwork",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "configTemplateId": {
                  "type": "string",
                  "description": "The ID of the template to which the network should be bound."
                },
                "autoBind": {
                  "type": "boolean",
                  "description": "Optional boolean indicating whether the network's switches should automatically bind to profiles of the same model. Defaults to false if left unspecified. This option only affects switch networks and switch templates. Auto-bind is not valid unless the switch template has at least one profile and has at most one profile per switch model."
                }
              },
              "example": {
                "configTemplateId": "N_23952905",
                "autoBind": false
              },
              "required": [
                "configTemplateId"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "summary": "Bind a network to a template.",
        "tags": [
          "Networks"
        ]
      }
    },
    "/networks/{networkId}/bluetoothClients": {
      "get": {
        "description": "List the Bluetooth clients seen by APs in this network",
        "operationId": "getNetworkBluetoothClients",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 7 days from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 7 days. The default is 1 day."
          },
          {
            "type": "integer",
            "name": "perPage",
            "in": "query",
            "description": "The number of entries per page returned. Acceptable range is 5 - 1000. Default is 10."
          },
          {
            "type": "string",
            "name": "startingAfter",
            "in": "query",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "type": "string",
            "name": "endingBefore",
            "in": "query",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "type": "boolean",
            "name": "includeConnectivityHistory",
            "in": "query",
            "description": "Include the connectivity history for this client"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "headers": {
              "Link": {
                "type": "string",
                "description": "A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests."
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": "1284392014819",
                  "mac": "22:33:44:55:66:77",
                  "networkId": "N_24329156",
                  "name": "Miles's phone",
                  "deviceName": "Bose QuietComfort 35",
                  "manufacturer": "Bose",
                  "lastSeen": 1526087474,
                  "seenByDeviceMac": "00:11:22:33:44:55",
                  "inSightAlert": false,
                  "outOfSightAlert": false,
                  "tags": [
                    "tag1",
                    "tag2"
                  ]
                }
              ]
            }
          }
        },
        "summary": "List the Bluetooth clients seen by APs in this network",
        "tags": [
          "Bluetooth clients"
        ]
      }
    },
    "/networks/{networkId}/bluetoothClients/{bluetoothClientId}": {
      "get": {
        "description": "Return a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC.",
        "operationId": "getNetworkBluetoothClient",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "bluetoothClientId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "boolean",
            "name": "includeConnectivityHistory",
            "in": "query",
            "description": "Include the connectivity history for this client"
          },
          {
            "type": "integer",
            "name": "connectivityHistoryTimespan",
            "in": "query",
            "description": "The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "id": "1284392014819",
                "mac": "22:33:44:55:66:77",
                "networkId": "N_24329156",
                "name": "Miles's phone",
                "deviceName": "Bose QuietComfort 35",
                "manufacturer": "Bose",
                "lastSeen": 1526087474,
                "seenByDeviceMac": "00:11:22:33:44:55",
                "inSightAlert": false,
                "outOfSightAlert": false,
                "tags": [
                  "tag1",
                  "tag2"
                ]
              }
            }
          }
        },
        "summary": "Return a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC.",
        "tags": [
          "Bluetooth clients"
        ]
      }
    },
    "/networks/{networkId}/bluetoothSettings": {
      "get": {
        "description": "Return the Bluetooth settings for a network. <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a> must be enabled on the network.",
        "operationId": "getNetworkBluetoothSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "scanningEnabled": true,
                "advertisingEnabled": true,
                "uuid": "00000000-0000-0000-000-000000000000",
                "majorMinorAssignmentMode": "Non-unique",
                "major": 1
              }
            }
          }
        },
        "summary": "Return the Bluetooth settings for a network. <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a> must be enabled on the network.",
        "tags": [
          "Networks"
        ]
      },
      "put": {
        "description": "Update the Bluetooth settings for a network. See the docs page for <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a>.",
        "operationId": "updateNetworkBluetoothSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateNetworkBluetoothSettings",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "scanningEnabled": {
                  "type": "boolean",
                  "description": "Whether APs will scan for Bluetooth enabled clients. (true, false)"
                },
                "advertisingEnabled": {
                  "type": "boolean",
                  "description": "Whether APs will advertise beacons. (true, false)"
                },
                "uuid": {
                  "type": "string",
                  "description": "The UUID to be used in the beacon identifier."
                },
                "majorMinorAssignmentMode": {
                  "type": "string",
                  "enum": [
                    "Unique",
                    "Non-unique"
                  ],
                  "description": "The way major and minor number should be assigned to nodes in the network. ('Unique', 'Non-unique')"
                },
                "major": {
                  "type": "integer",
                  "description": "The major number to be used in the beacon identifier. Only valid in 'Non-unique' mode."
                },
                "minor": {
                  "type": "integer",
                  "description": "The minor number to be used in the beacon identifier. Only valid in 'Non-unique' mode."
                }
              },
              "example": {
                "scanningEnabled": true,
                "advertisingEnabled": true,
                "uuid": "00000000-0000-0000-000-000000000000",
                "majorMinorAssignmentMode": "Non-unique",
                "major": 1
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "scanningEnabled": true,
                "advertisingEnabled": true,
                "uuid": "00000000-0000-0000-000-000000000000",
                "majorMinorAssignmentMode": "Non-unique",
                "major": 1
              }
            }
          }
        },
        "summary": "Update the Bluetooth settings for a network. See the docs page for <a href=\"https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)\">Bluetooth settings</a>.",
        "tags": [
          "Networks"
        ]
      }
    },
    "/networks/{networkId}/cameras/{serial}/snapshot": {
      "post": {
        "description": "Generate a snapshot of what the camera sees at the specified time and return a link to that image.",
        "operationId": "generateNetworkCameraSnapshot",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "generateNetworkCameraSnapshot",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string",
                  "description": "[optional] The snapshot will be taken from this time on the camera. The timestamp is expected to be in ISO 8601 format. If no timestamp is specified, we will assume current time."
                }
              },
              "example": {

              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "url": "https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2",
                "expiry": "Access to the image will expire at 2018-12-11T03:12:39Z."
              }
            }
          }
        },
        "summary": "Generate a snapshot of what the camera sees at the specified time and return a link to that image.",
        "tags": [
          "Cameras"
        ]
      }
    },
    "/networks/{networkId}/cameras/{serial}/videoLink": {
      "get": {
        "description": "Returns video link to the specified camera. If a timestamp is supplied, it links to that timestamp.",
        "operationId": "getNetworkCameraVideoLink",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "timestamp",
            "in": "query",
            "description": "[optional] The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds). If no timestamp is specified, we will assume current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "url": "https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077"
              }
            }
          }
        },
        "summary": "Returns video link to the specified camera. If a timestamp is supplied, it links to that timestamp.",
        "tags": [
          "Cameras"
        ]
      }
    },
    "/networks/{networkId}/cellularFirewallRules": {
      "get": {
        "description": "Return the cellular firewall rules for an MX network",
        "operationId": "getNetworkCellularFirewallRules",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "comment": "Allow TCP traffic to subnet with HTTP servers.",
                  "policy": "allow",
                  "protocol": "tcp",
                  "destPort": 443,
                  "destCidr": "192.168.1.0/24",
                  "srcPort": "Any",
                  "srcCidr": "Any",
                  "syslogEnabled": false
                }
              ]
            }
          }
        },
        "summary": "Return the cellular firewall rules for an MX network",
        "tags": [
          "MX cellular firewall"
        ]
      },
      "put": {
        "description": "Update the cellular firewall rules of an MX network",
        "operationId": "updateNetworkCellularFirewallRules",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateNetworkCellularFirewallRules",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "rules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "comment": {
                        "type": "string",
                        "description": "Description of the rule (optional)"
                      },
                      "policy": {
                        "type": "string",
                        "enum": [
                          "allow",
                          "deny"
                        ],
                        "description": "'allow' or 'deny' traffic specified by this rule"
                      },
                      "protocol": {
                        "type": "string",
                        "enum": [
                          "tcp",
                          "udp",
                          "icmp",
                          "any"
                        ],
                        "description": "The type of protocol (must be 'tcp', 'udp', 'icmp' or 'any')"
                      },
                      "srcPort": {
                        "type": "string",
                        "description": "Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'"
                      },
                      "srcCidr": {
                        "type": "string",
                        "description": "Comma-separated list of source IP address(es) (in IP or CIDR notation), or 'any' (note: FQDN not supported for source addresses)"
                      },
                      "destPort": {
                        "type": "string",
                        "description": "Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'"
                      },
                      "destCidr": {
                        "type": "string",
                        "description": "Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'"
                      },
                      "syslogEnabled": {
                        "type": "boolean",
                        "description": "Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)"
                      }
                    },
                    "required": [
                      "policy",
                      "protocol",
                      "srcCidr",
                      "destCidr"
                    ]
                  },
                  "description": "An ordered array of the firewall rules (not including the default rule)"
                }
              },
              "example": {
                "rules": [
                  {
                    "comment": "Allow TCP traffic to subnet with HTTP servers.",
                    "policy": "allow",
                    "protocol": "tcp",
                    "destPort": 443,
                    "destCidr": "192.168.1.0/24",
                    "srcPort": "Any",
                    "srcCidr": "Any",
                    "syslogEnabled": false
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "comment": "Allow TCP traffic to subnet with HTTP servers.",
                  "policy": "allow",
                  "protocol": "tcp",
                  "destPort": 443,
                  "destCidr": "192.168.1.0/24",
                  "srcPort": "Any",
                  "srcCidr": "Any",
                  "syslogEnabled": false
                }
              ]
            }
          }
        },
        "summary": "Update the cellular firewall rules of an MX network",
        "tags": [
          "MX cellular firewall"
        ]
      }
    },
    "/networks/{networkId}/clients": {
      "get": {
        "description": "List the clients that have used this network in the timespan",
        "operationId": "getNetworkClients",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          },
          {
            "type": "integer",
            "name": "perPage",
            "in": "query",
            "description": "The number of entries per page returned. Acceptable range is 3 - 1000. Default is 10."
          },
          {
            "type": "string",
            "name": "startingAfter",
            "in": "query",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "type": "string",
            "name": "endingBefore",
            "in": "query",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "headers": {
              "Link": {
                "type": "string",
                "description": "A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests."
              }
            },
            "examples": {
              "application/json": {
                "usage": {
                  "sent": 138.0,
                  "recv": 61.0
                },
                "id": "k74272e",
                "description": "Miles's phone",
                "mac": "00:11:22:33:44:55",
                "ip": "1.2.3.4",
                "user": "milesmeraki",
                "vlan": 255,
                "switchport": null,
                "ip6": "",
                "firstSeen": 1518365681,
                "lastSeen": 1526087474,
                "manufacturer": "Apple",
                "os": "iOS"
              }
            }
          }
        },
        "summary": "List the clients that have used this network in the timespan",
        "tags": [
          "Clients"
        ]
      }
    },
    "/networks/{networkId}/clients/connectionStats": {
      "get": {
        "description": "Aggregated connectivity info for this network, grouped by clients",
        "operationId": "getNetworkClientsConnectionStats",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 180 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days."
          },
          {
            "type": "integer",
            "name": "ssid",
            "in": "query",
            "description": "Filter results by SSID"
          },
          {
            "type": "integer",
            "name": "vlan",
            "in": "query",
            "description": "Filter results by VLAN"
          },
          {
            "type": "string",
            "name": "apTag",
            "in": "query",
            "description": "Filter results by AP Tag"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "mac": "00:61:71:c8:51:27",
                  "connectionStats": {
                    "assoc": 0,
                    "auth": 4,
                    "dhcp": 0,
                    "dns": 0,
                    "success": 10
                  }
                },
                {
                  "mac": "1c:4d:70:7f:5e:5e",
                  "connectionStats": {
                    "assoc": 0,
                    "auth": 1,
                    "dhcp": 0,
                    "dns": 0,
                    "success": 24
                  }
                },
                {
                  "mac": "1c:4d:70:81:8d:0a",
                  "connectionStats": {
                    "assoc": 1,
                    "auth": 0,
                    "dhcp": 0,
                    "dns": 0,
                    "success": 16
                  }
                }
              ]
            }
          }
        },
        "summary": "Aggregated connectivity info for this network, grouped by clients",
        "tags": [
          "Wireless health"
        ]
      }
    },
    "/networks/{networkId}/clients/latencyStats": {
      "get": {
        "description": "Aggregated latency info for this network, grouped by clients",
        "operationId": "getNetworkClientsLatencyStats",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 180 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days."
          },
          {
            "type": "integer",
            "name": "ssid",
            "in": "query",
            "description": "Filter results by SSID"
          },
          {
            "type": "integer",
            "name": "vlan",
            "in": "query",
            "description": "Filter results by VLAN"
          },
          {
            "type": "string",
            "name": "apTag",
            "in": "query",
            "description": "Filter results by AP Tag"
          },
          {
            "type": "string",
            "name": "fields",
            "in": "query",
            "description": "Partial selection: If present, this call will return only the selected fields of [\"rawDistribution\", \"avg\"]. All fields will be returned by default. Selected fields must be entered as a comma separated string."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "mac": "00:61:71:c8:51:27",
                  "latencyStats": {
                    "backgroundTraffic": {
                      "rawDistribution": {
                        "0": 1234,
                        "1": 2345,
                        "2": 3456,
                        "4": 4567,
                        "8": 5678,
                        "16": 6789,
                        "32": 7890,
                        "64": 8901,
                        "128": 9012,
                        "256": 83,
                        "512": 1234,
                        "1024": 2345,
                        "2048": 9999
                      },
                      "avg": 606.52
                    },
                    "bestEffortTraffic": "same shape as backgroundTraffic",
                    "videoTraffic": "same shape as backgroundTraffic",
                    "voiceTraffic": "same shape as backgroundTraffic"
                  }
                },
                {
                  "mac": "1c:4d:70:7f:5e:5e",
                  "latencyStats": {
                    "backgroundTraffic": {
                      "rawDistribution": {
                        "0": 1234,
                        "1": 2345,
                        "2": 3456,
                        "4": 4567,
                        "8": 5678,
                        "16": 6789,
                        "32": 7890,
                        "64": 8901,
                        "128": 9012,
                        "256": 83,
                        "512": 1234,
                        "1024": 2345,
                        "2048": 9999
                      },
                      "avg": 606.52
                    },
                    "bestEffortTraffic": "same shape as backgroundTraffic",
                    "videoTraffic": "same shape as backgroundTraffic",
                    "voiceTraffic": "same shape as backgroundTraffic"
                  }
                },
                {
                  "mac": "1c:4d:70:81:8d:0a",
                  "latencyStats": {
                    "backgroundTraffic": {
                      "rawDistribution": {
                        "0": 1234,
                        "1": 2345,
                        "2": 3456,
                        "4": 4567,
                        "8": 5678,
                        "16": 6789,
                        "32": 7890,
                        "64": 8901,
                        "128": 9012,
                        "256": 83,
                        "512": 1234,
                        "1024": 2345,
                        "2048": 9999
                      },
                      "avg": 606.52
                    },
                    "bestEffortTraffic": "same shape as backgroundTraffic",
                    "videoTraffic": "same shape as backgroundTraffic",
                    "voiceTraffic": "same shape as backgroundTraffic"
                  }
                }
              ]
            }
          }
        },
        "summary": "Aggregated latency info for this network, grouped by clients",
        "tags": [
          "Wireless health"
        ]
      }
    },
    "/networks/{networkId}/clients/provision": {
      "post": {
        "description": "Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.",
        "operationId": "provisionNetworkClients",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "provisionNetworkClients",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "mac": {
                  "description": "The MAC address of the client. Required.",
                  "type": "string"
                },
                "name": {
                  "description": "The display name for the client. Optional. Limited to 255 bytes.",
                  "type": "string"
                },
                "devicePolicy": {
                  "description": "The policy to apply to the specified client. Can be 'Whitelisted', 'Blocked', 'Normal' or 'Group policy'. Required.",
                  "type": "string"
                },
                "groupPolicyId": {
                  "description": "The ID of the desired group policy to apply to the client. Required if 'devicePolicy' is set to \"Group policy\". Otherwise this is ignored.",
                  "type": "string"
                }
              },
              "example": {
                "mac": "00:11:22:33:44:55",
                "name": "Miles's phone",
                "devicePolicy": "Group policy",
                "groupPolicyId": "101"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "mac": "00:11:22:33:44:55",
                "clientId": "k74272e",
                "name": "Miles's phone",
                "devicePolicy": "Group policy",
                "groupPolicyId": "101"
              }
            }
          }
        },
        "summary": "Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.",
        "tags": [
          "Clients"
        ]
      }
    },
    "/networks/{networkId}/clients/{clientId}": {
      "get": {
        "description": "Return the client associated with the given identifier. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "getNetworkClient",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "clientId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "id": "k74272e",
                "description": "Miles's phone",
                "mac": "00:11:22:33:44:55",
                "ip": "1.2.3.4",
                "user": "null",
                "vlan": "255",
                "switchport": null,
                "ip6": "",
                "firstSeen": 1518365681,
                "lastSeen": 1526087474,
                "manufacturer": "Apple",
                "os": "iOS",
                "ssid": "My SSID",
                "wirelessCapabilities": "802.11ac - 2.4 and 5 GHz",
                "smInstalled": true,
                "recentDeviceMac": "00:11:22:33:44:55",
                "clientVpnConnections": [
                  {
                    "remoteIp": "1.2.3.4",
                    "connectedAt": 1522613355,
                    "disconnectedAt": 1522613360
                  }
                ],
                "lldp": [
                  [
                    "System name",
                    "Some system name"
                  ],
                  [
                    "System description",
                    "Some system description"
                  ],
                  [
                    "Port ID",
                    "1"
                  ],
                  [
                    "Chassis ID",
                    "00:18:0a:00:00:00"
                  ],
                  [
                    "Port description",
                    "eth0"
                  ],
                  [
                    "System capabilities",
                    "Two-port MAC Relay"
                  ]
                ],
                "cdp": null,
                "status": "Online"
              }
            }
          }
        },
        "summary": "Return the client associated with the given identifier. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "tags": [
          "Clients"
        ]
      }
    },
    "/networks/{networkId}/clients/{clientId}/connectionStats": {
      "get": {
        "description": "Aggregated connectivity info for a given client on this network. Clients are identified by their MAC.",
        "operationId": "getNetworkClientConnectionStats",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "clientId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 180 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days."
          },
          {
            "type": "integer",
            "name": "ssid",
            "in": "query",
            "description": "Filter results by SSID"
          },
          {
            "type": "integer",
            "name": "vlan",
            "in": "query",
            "description": "Filter results by VLAN"
          },
          {
            "type": "string",
            "name": "apTag",
            "in": "query",
            "description": "Filter results by AP Tag"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "mac": "00:61:71:c8:51:27",
                "connectionStats": {
                  "assoc": 0,
                  "auth": 4,
                  "dhcp": 0,
                  "dns": 0,
                  "success": 10
                }
              }
            }
          }
        },
        "summary": "Aggregated connectivity info for a given client on this network. Clients are identified by their MAC.",
        "tags": [
          "Wireless health"
        ]
      }
    },
    "/networks/{networkId}/clients/{clientId}/events": {
      "get": {
        "description": "Return the events associated with this client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "getNetworkClientEvents",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "clientId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "integer",
            "name": "perPage",
            "in": "query",
            "description": "The number of entries per page returned. Acceptable range is 3 - 100. Default is 100."
          },
          {
            "type": "string",
            "name": "startingAfter",
            "in": "query",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          },
          {
            "type": "string",
            "name": "endingBefore",
            "in": "query",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "headers": {
              "Link": {
                "type": "string",
                "description": "A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests."
              }
            },
            "examples": {
              "application/json": [
                {
                  "deviceSerial": "Q234-ABCD-5678",
                  "occurredAt": 1518365681,
                  "type": "l3roaming_assoc_start",
                  "details": {
                    "vap": "1",
                    "on_packet": "true"
                  }
                }
              ]
            }
          }
        },
        "summary": "Return the events associated with this client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "tags": [
          "Clients"
        ]
      }
    },
    "/networks/{networkId}/clients/{clientId}/latencyHistory": {
      "get": {
        "description": "Return the latency history for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background, best effort, video, voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds.",
        "operationId": "getNetworkClientLatencyHistory",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "clientId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 791 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 791 days after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 1 day.",
            "x-example": 7200
          },
          {
            "type": "integer",
            "name": "resolution",
            "in": "query",
            "description": "The time resolution in seconds for returned data. The valid resolutions are: 86400. The default is 86400."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": [
                {
                  "t0": 1550534400,
                  "t1": 1550620800,
                  "latencyBinsByCategory": {
                    "backgroundTraffic": {
                      "0.5": 41750,
                      "1.0": 21552,
                      "2.0": 59940,
                      "4.0": 146622,
                      "8.0": 57354,
                      "16.0": 0,
                      "32.0": 9954,
                      "64.0": 0,
                      "128.0": 0,
                      "256.0": 1896,
                      "512.0": 0,
                      "1024.0": 0,
                      "2048.0": 0
                    },
                    "bestEffortTraffic": {
                      "0.5": 1840899,
                      "1.0": 1644506,
                      "2.0": 629958,
                      "4.0": 449564,
                      "8.0": 2009658,
                      "16.0": 1329568,
                      "32.0": 282168,
                      "64.0": 97573,
                      "128.0": 191977,
                      "256.0": 30560,
                      "512.0": 26032,
                      "1024.0": 4943,
                      "2048.0": 12072
                    },
                    "videoTraffic": {
                      "0.5": 0,
                      "1.0": 0,
                      "2.0": 0,
                      "4.0": 0,
                      "8.0": 0,
                      "16.0": 0,
                      "32.0": 0,
                      "64.0": 0,
                      "128.0": 0,
                      "256.0": 0,
                      "512.0": 0,
                      "1024.0": 0,
                      "2048.0": 0
                    },
                    "voiceTraffic": {
                      "0.5": 716,
                      "1.0": 948,
                      "2.0": 474,
                      "4.0": 78,
                      "8.0": 0,
                      "16.0": 0,
                      "32.0": 0,
                      "64.0": 0,
                      "128.0": 0,
                      "256.0": 0,
                      "512.0": 0,
                      "1024.0": 0,
                      "2048.0": 0
                    }
                  }
                }
              ]
            }
          }
        },
        "summary": "Return the latency history for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background, best effort, video, voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds.",
        "tags": [
          "Clients"
        ]
      }
    },
    "/networks/{networkId}/clients/{clientId}/latencyStats": {
      "get": {
        "description": "Aggregated latency info for a given client on this network. Clients are identified by their MAC.",
        "operationId": "getNetworkClientLatencyStats",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "clientId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 180 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days."
          },
          {
            "type": "integer",
            "name": "ssid",
            "in": "query",
            "description": "Filter results by SSID"
          },
          {
            "type": "integer",
            "name": "vlan",
            "in": "query",
            "description": "Filter results by VLAN"
          },
          {
            "type": "string",
            "name": "apTag",
            "in": "query",
            "description": "Filter results by AP Tag"
          },
          {
            "type": "string",
            "name": "fields",
            "in": "query",
            "description": "Partial selection: If present, this call will return only the selected fields of [\"rawDistribution\", \"avg\"]. All fields will be returned by default. Selected fields must be entered as a comma separated string."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "mac": "00:61:71:c8:51:27",
                "latencyStats": {
                  "backgroundTraffic": {
                    "rawDistribution": {
                      "0": 1234,
                      "1": 2345,
                      "2": 3456,
                      "4": 4567,
                      "8": 5678,
                      "16": 6789,
                      "32": 7890,
                      "64": 8901,
                      "128": 9012,
                      "256": 83,
                      "512": 1234,
                      "1024": 2345,
                      "2048": 9999
                    },
                    "avg": 606.52
                  },
                  "bestEffortTraffic": "same shape as backgroundTraffic",
                  "videoTraffic": "same shape as backgroundTraffic",
                  "voiceTraffic": "same shape as backgroundTraffic"
                }
              }
            }
          }
        },
        "summary": "Aggregated latency info for a given client on this network. Clients are identified by their MAC.",
        "tags": [
          "Wireless health"
        ]
      }
    },
    "/networks/{networkId}/clients/{clientId}/policy": {
      "get": {
        "description": "Return the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "getNetworkClientPolicy",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "clientId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "x-is-dynamic": true
            },
            "examples": {
              "application/json": {
                "mac": "00:11:22:33:44:55",
                "type": "Group policy",
                "groupPolicyId": "101"
              }
            }
          }
        },
        "summary": "Return the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "tags": [
          "Clients"
        ]
      },
      "put": {
        "description": "Update the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "updateNetworkClientPolicy",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "clientId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateNetworkClientPolicy",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "devicePolicy": {
                  "description": "The group policy (Whitelisted, Blocked, Normal, Group policy)",
                  "type": "string"
                },
                "groupPolicyId": {
                  "description": "[optional] If devicePolicy param is set to 'Group policy' this param is used to specify the group ID.",
                  "type": "string"
                }
              },
              "example": {
                "mac": "00:11:22:33:44:55",
                "type": "Group policy",
                "groupPolicyId": "101"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
[...]
