{
  "swagger": "2.0",
  "info": {
    "version": "1.19.0",
    "title": "Meraki Dashboard API",
    "description": "The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.\n\n> Date: 02 March, 2022\n>\n> [Recent Updates](https://meraki.io/whats-new/)\n\n---\n\n[API Documentation](https://meraki.io/api)\n\n[Community Support](https://meraki.io/community)\n\n[Meraki Homepage](https://www.meraki.com)\n",
    "contact": {
      "name": "Meraki Developer Community",
      "url": "https://meraki.io/community"
    }
  },
  "host": "api.meraki.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "meraki_api_key": {
      "type": "apiKey",
      "name": "X-Cisco-Meraki-API-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "meraki_api_key": [

      ]
    }
  ],
  "paths": {
    "/devices/{serial}": {
      "get": {
        "description": "Return a single device",
        "operationId": "getDevice",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "name": "My AP",
                "lat": 37.4180951010362,
                "lng": -122.098531723022,
                "serial": "Q234-ABCD-5678",
                "mac": "00:11:22:33:44:55",
                "model": "MR34",
                "address": "1600 Pennsylvania Ave",
                "notes": "My AP's note",
                "lanIp": "1.2.3.4",
                "tags": [
                  "recently-added"
                ],
                "networkId": "N_24329156",
                "beaconIdParams": {
                  "uuid": "00000000-0000-0000-0000-000000000000",
                  "major": 5,
                  "minor": 3
                },
                "firmware": "wireless-25-14",
                "floorPlanId": "g_1234567"
              }
            }
          }
        },
        "summary": "Return a single device",
        "tags": [
          "devices",
          "configure"
        ]
      },
      "put": {
        "description": "Update the attributes of a device",
        "operationId": "updateDevice",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDevice",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of a device"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The list of tags of a device"
                },
                "lat": {
                  "type": "number",
                  "format": "float",
                  "description": "The latitude of a device"
                },
                "lng": {
                  "type": "number",
                  "format": "float",
                  "description": "The longitude of a device"
                },
                "address": {
                  "type": "string",
                  "description": "The address of a device"
                },
                "notes": {
                  "type": "string",
                  "description": "The notes for the device. String. Limited to 255 characters."
                },
                "moveMapMarker": {
                  "type": "boolean",
                  "description": "Whether or not to set the latitude and longitude of a device based on the new address. Only applies when lat and lng are not specified."
                },
                "switchProfileId": {
                  "type": "string",
                  "description": "The ID of a switch profile to bind to the device (for available switch profiles, see the 'Switch Profiles' endpoint). Use null to unbind the switch device from the current profile. For a device to be bindable to a switch profile, it must (1) be a switch, and (2) belong to a network that is bound to a configuration template."
                },
                "floorPlanId": {
                  "type": "string",
                  "description": "The floor plan to associate to this device. null disassociates the device from the floorplan."
                }
              },
              "example": {
                "name": "My AP",
                "lat": 37.4180951010362,
                "lng": -122.098531723022,
                "serial": "Q234-ABCD-5678",
                "mac": "00:11:22:33:44:55",
                "tags": [
                  "recently-added"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "name": "My AP",
                "lat": 37.4180951010362,
                "lng": -122.098531723022,
                "serial": "Q234-ABCD-5678",
                "mac": "00:11:22:33:44:55",
                "model": "MR34",
                "address": "1600 Pennsylvania Ave",
                "notes": "My AP's note",
                "lanIp": "1.2.3.4",
                "tags": [
                  "recently-added"
                ],
                "networkId": "N_24329156",
                "beaconIdParams": {
                  "uuid": "00000000-0000-0000-0000-000000000000",
                  "major": 5,
                  "minor": 3
                },
                "firmware": "wireless-25-14",
                "floorPlanId": "g_1234567"
              }
            }
          }
        },
        "summary": "Update the attributes of a device",
        "tags": [
          "devices",
          "configure"
        ]
      }
    },
    "/devices/{serial}/appliance/dhcp/subnets": {
      "get": {
        "description": "Return the DHCP subnet information for an appliance",
        "operationId": "getDeviceApplianceDhcpSubnets",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "subnet": "192.168.1.0/24",
                  "vlanId": 100,
                  "usedCount": 2,
                  "freeCount": 251
                }
              ]
            }
          }
        },
        "summary": "Return the DHCP subnet information for an appliance",
        "tags": [
          "appliance",
          "monitor",
          "dhcp",
          "subnets"
        ]
      }
    },
    "/devices/{serial}/appliance/performance": {
      "get": {
        "description": "Return the performance score for a single MX. Only primary MX devices supported. If no data is available, a 204 error code is returned.",
        "operationId": "getDeviceAppliancePerformance",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "perfScore": 10
              }
            }
          }
        },
        "summary": "Return the performance score for a single MX",
        "tags": [
          "appliance",
          "monitor",
          "performance"
        ]
      }
    },
    "/devices/{serial}/blinkLeds": {
      "post": {
        "description": "Blink the LEDs on a device",
        "operationId": "blinkDeviceLeds",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "blinkDeviceLeds",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "duration": {
                  "type": "integer",
                  "description": "The duration in seconds. Must be between 5 and 120. Default is 20 seconds"
                },
                "period": {
                  "type": "integer",
                  "description": "The period in milliseconds. Must be between 100 and 1000. Default is 160 milliseconds"
                },
                "duty": {
                  "type": "integer",
                  "description": "The duty cycle as the percent active. Must be between 10 and 90. Default is 50."
                }
              },
              "example": {
                "duration": 20,
                "period": 160,
                "duty": 50
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "duration": 20,
                "period": 160,
                "duty": 50
              }
            }
          }
        },
        "summary": "Blink the LEDs on a device",
        "tags": [
          "devices",
          "liveTools"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/live": {
      "get": {
        "description": "Returns live state from camera of analytics zones",
        "operationId": "getDeviceCameraAnalyticsLive",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "ts": "2018-08-15T18:32:38.123Z",
                "zones": {
                  "0": {
                    "person": 0
                  }
                }
              }
            }
          }
        },
        "summary": "Returns live state from camera of analytics zones",
        "tags": [
          "camera",
          "monitor",
          "analytics",
          "live"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/overview": {
      "get": {
        "description": "Returns an overview of aggregate analytics data for a timespan",
        "operationId": "getDeviceCameraAnalyticsOverview",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 365 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 7 days after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour."
          },
          {
            "type": "string",
            "enum": [
              "person",
              "vehicle"
            ],
            "name": "objectType",
            "in": "query",
            "description": "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "zoneId": 0,
                  "entrances": 254,
                  "averageCount": 5
                }
              ]
            }
          }
        },
        "summary": "Returns an overview of aggregate analytics data for a timespan",
        "tags": [
          "camera",
          "monitor",
          "analytics",
          "overview"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/recent": {
      "get": {
        "description": "Returns most recent record for analytics zones",
        "operationId": "getDeviceCameraAnalyticsRecent",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "enum": [
              "person",
              "vehicle"
            ],
            "name": "objectType",
            "in": "query",
            "description": "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "zoneId": 0,
                  "entrances": 10,
                  "averageCount": 2.54
                }
              ]
            }
          }
        },
        "summary": "Returns most recent record for analytics zones",
        "tags": [
          "camera",
          "monitor",
          "analytics",
          "recent"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/zones": {
      "get": {
        "description": "Returns all configured analytic zones for this camera",
        "operationId": "getDeviceCameraAnalyticsZones",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": "0",
                  "type": "occupancy",
                  "label": "Full Frame",
                  "regionOfInterest": {
                    "x0": "0.00",
                    "y0": "0.00",
                    "x1": "1.00",
                    "y1": "1.00"
                  }
                }
              ]
            }
          }
        },
        "summary": "Returns all configured analytic zones for this camera",
        "tags": [
          "camera",
          "monitor",
          "analytics",
          "zones"
        ]
      }
    },
    "/devices/{serial}/camera/analytics/zones/{zoneId}/history": {
      "get": {
        "description": "Return historical records for analytic zones",
        "operationId": "getDeviceCameraAnalyticsZoneHistory",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "zoneId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 365 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 14 hours after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour."
          },
          {
            "type": "integer",
            "name": "resolution",
            "in": "query",
            "description": "The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60."
          },
          {
            "type": "string",
            "enum": [
              "person",
              "vehicle"
            ],
            "name": "objectType",
            "in": "query",
            "description": "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "startTs": "2018-08-15T18:32:38.123Z",
                  "endTs": "2018-08-15T18:33:38.123Z",
                  "entrances": 5,
                  "averageCount": 1.5
                }
              ]
            }
          }
        },
        "summary": "Return historical records for analytic zones",
        "tags": [
          "camera",
          "monitor",
          "analytics",
          "zones",
          "history"
        ]
      }
    },
    "/devices/{serial}/camera/generateSnapshot": {
      "post": {
        "description": "Generate a snapshot of what the camera sees at the specified time and return a link to that image.",
        "operationId": "generateDeviceCameraSnapshot",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "generateDeviceCameraSnapshot",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "[optional] The snapshot will be taken from this time on the camera. The timestamp is expected to be in ISO 8601 format. If no timestamp is specified, we will assume current time."
                },
                "fullframe": {
                  "type": "boolean",
                  "description": "[optional] If set to \"true\" the snapshot will be taken at full sensor resolution. This will error if used with timestamp."
                }
              },
              "example": {
                "timestamp": "2021-04-30T15:18:08Z",
                "fullframe": false
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "url": "https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2",
                "expiry": "Access to the image will expire at 2018-12-11T03:12:39Z."
              }
            }
          }
        },
        "summary": "Generate a snapshot of what the camera sees at the specified time and return a link to that image.",
        "tags": [
          "camera",
          "monitor"
        ]
      }
    },
    "/devices/{serial}/camera/qualityAndRetention": {
      "get": {
        "description": "Returns quality and retention settings for the given camera",
        "operationId": "getDeviceCameraQualityAndRetention",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "motionBasedRetentionEnabled": false,
                "audioRecordingEnabled": false,
                "restrictedBandwidthModeEnabled": false,
                "profileId": "1234",
                "quality": "Standard",
                "motionDetectorVersion": 2,
                "resolution": "1280x720"
              }
            }
          }
        },
        "summary": "Returns quality and retention settings for the given camera",
        "tags": [
          "camera",
          "configure",
          "qualityAndRetention"
        ]
      },
      "put": {
        "description": "Update quality and retention settings for the given camera",
        "operationId": "updateDeviceCameraQualityAndRetention",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceCameraQualityAndRetention",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "profileId": {
                  "type": "string",
                  "description": "The ID of a quality and retention profile to assign to the camera. The profile's settings will override all of the per-camera quality and retention settings. If the value of this parameter is null, any existing profile will be unassigned from the camera."
                },
                "motionBasedRetentionEnabled": {
                  "type": "boolean",
                  "description": "Boolean indicating if motion-based retention is enabled(true) or disabled(false) on the camera."
                },
                "audioRecordingEnabled": {
                  "type": "boolean",
                  "description": "Boolean indicating if audio recording is enabled(true) or disabled(false) on the camera"
                },
                "restrictedBandwidthModeEnabled": {
                  "type": "boolean",
                  "description": "Boolean indicating if restricted bandwidth is enabled(true) or disabled(false) on the camera. This setting does not apply to MV2 cameras."
                },
                "quality": {
                  "type": "string",
                  "enum": [
                    "Standard",
                    "High",
                    "Enhanced"
                  ],
                  "description": "Quality of the camera. Can be one of 'Standard', 'High' or 'Enhanced'. Not all qualities are supported by every camera model."
                },
                "resolution": {
                  "type": "string",
                  "enum": [
                    "1280x720",
                    "1920x1080",
                    "1080x1080",
                    "2058x2058"
                  ],
                  "description": "Resolution of the camera. Can be one of '1280x720', '1920x1080', '1080x1080' or '2058x2058'. Not all resolutions are supported by every camera model."
                },
                "motionDetectorVersion": {
                  "type": "integer",
                  "enum": [
                    1,
                    2
                  ],
                  "description": "The version of the motion detector that will be used by the camera. Only applies to Gen 2 cameras. Defaults to v2."
                }
              },
              "example": {
                "motionBasedRetentionEnabled": false,
                "audioRecordingEnabled": false,
                "restrictedBandwidthModeEnabled": false,
                "profileId": "1234",
                "quality": "Standard",
                "motionDetectorVersion": 2,
                "resolution": "1280x720"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "motionBasedRetentionEnabled": false,
                "audioRecordingEnabled": false,
                "restrictedBandwidthModeEnabled": false,
                "profileId": "1234",
                "quality": "Standard",
                "motionDetectorVersion": 2,
                "resolution": "1280x720"
              }
            }
          }
        },
        "summary": "Update quality and retention settings for the given camera",
        "tags": [
          "camera",
          "configure",
          "qualityAndRetention"
        ]
      }
    },
    "/devices/{serial}/camera/sense": {
      "get": {
        "description": "Returns sense settings for a given camera",
        "operationId": "getDeviceCameraSense",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "senseEnabled": true,
                "audioDetection": {
                  "enabled": false
                },
                "mqttBrokerId": "1234",
                "mqttTopics": [
                  "/merakimv/Q2AA-AAAA-1111/raw_detections",
                  "/merakimv/Q2AA-AAAA-1111/light"
                ]
              }
            }
          }
        },
        "summary": "Returns sense settings for a given camera",
        "tags": [
          "camera",
          "configure",
          "sense"
        ]
      },
      "put": {
        "description": "Update sense settings for the given camera",
        "operationId": "updateDeviceCameraSense",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceCameraSense",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "senseEnabled": {
                  "type": "boolean",
                  "description": "Boolean indicating if sense(license) is enabled(true) or disabled(false) on the camera"
                },
                "mqttBrokerId": {
                  "type": "string",
                  "description": "The ID of the MQTT broker to be enabled on the camera. A value of null will disable MQTT on the camera"
                },
                "audioDetection": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "Boolean indicating if audio detection is enabled(true) or disabled(false) on the camera"
                    }
                  },
                  "description": "The details of the audio detection config."
                },
                "detectionModelId": {
                  "type": "string",
                  "description": "The ID of the object detection model"
                }
              },
              "example": {
                "senseEnabled": true,
                "audioDetection": {
                  "enabled": false
                },
                "mqttBrokerId": "1234"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "senseEnabled": true,
                "audioDetection": {
                  "enabled": false
                },
                "mqttBrokerId": "1234",
                "mqttTopics": [
                  "/merakimv/Q2AA-AAAA-1111/raw_detections",
                  "/merakimv/Q2AA-AAAA-1111/light"
                ]
              }
            }
          }
        },
        "summary": "Update sense settings for the given camera",
        "tags": [
          "camera",
          "configure",
          "sense"
        ]
      }
    },
    "/devices/{serial}/camera/sense/objectDetectionModels": {
      "get": {
        "description": "Returns the MV Sense object detection model list for the given camera",
        "operationId": "getDeviceCameraSenseObjectDetectionModels",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": "0",
                  "description": "Model A"
                }
              ]
            }
          }
        },
        "summary": "Returns the MV Sense object detection model list for the given camera",
        "tags": [
          "camera",
          "configure",
          "sense",
          "objectDetectionModels"
        ]
      }
    },
    "/devices/{serial}/camera/video/settings": {
      "get": {
        "description": "Returns video settings for the given camera",
        "operationId": "getDeviceCameraVideoSettings",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "externalRtspEnabled": true,
                "rtspUrl": "rtsp://10.0.0.1:9000/live"
              }
            }
          }
        },
        "summary": "Returns video settings for the given camera",
        "tags": [
          "camera",
          "configure",
          "video",
          "settings"
        ]
      },
      "put": {
        "description": "Update video settings for the given camera",
        "operationId": "updateDeviceCameraVideoSettings",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceCameraVideoSettings",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "externalRtspEnabled": {
                  "type": "boolean",
                  "description": "Boolean indicating if external rtsp stream is exposed"
                }
              },
              "example": {
                "externalRtspEnabled": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "externalRtspEnabled": true,
                "rtspUrl": "rtsp://10.0.0.1:9000/live"
              }
            }
          }
        },
        "summary": "Update video settings for the given camera",
        "tags": [
          "camera",
          "configure",
          "video",
          "settings"
        ]
      }
    },
    "/devices/{serial}/camera/videoLink": {
      "get": {
        "description": "Returns video link to the specified camera. If a timestamp is supplied, it links to that timestamp.",
        "operationId": "getDeviceCameraVideoLink",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "name": "timestamp",
            "in": "query",
            "description": "[optional] The video link will start at this time. The timestamp should be a string in ISO8601 format. If no timestamp is specified, we will assume current time."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "url": "https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077"
              }
            }
          }
        },
        "summary": "Returns video link to the specified camera",
        "tags": [
          "camera",
          "configure",
          "videoLink"
        ]
      }
    },
    "/devices/{serial}/camera/wirelessProfiles": {
      "get": {
        "description": "Returns wireless profile assigned to the given camera",
        "operationId": "getDeviceCameraWirelessProfiles",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "ids": {
                  "primary": "3",
                  "secondary": "2",
                  "backup": "1"
                }
              }
            }
          }
        },
        "summary": "Returns wireless profile assigned to the given camera",
        "tags": [
          "camera",
          "configure",
          "wirelessProfiles"
        ]
      },
      "put": {
        "description": "Assign wireless profiles to the given camera. Incremental updates are not supported, all profile assignment need to be supplied at once.",
        "operationId": "updateDeviceCameraWirelessProfiles",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceCameraWirelessProfiles",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "type": "object",
                  "properties": {
                    "primary": {
                      "type": "string",
                      "description": "The id of the primary wireless profile"
                    },
                    "secondary": {
                      "type": "string",
                      "description": "The id of the secondary wireless profile"
                    },
                    "backup": {
                      "type": "string",
                      "description": "The id of the backup wireless profile"
                    }
                  },
                  "description": "The ids of the wireless profile to assign to the given camera"
                }
              },
              "example": {
                "ids": {
                  "primary": "3",
                  "secondary": "2",
                  "backup": "1"
                }
              },
              "required": [
                "ids"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "ids": {
                  "primary": "3",
                  "secondary": "2",
                  "backup": "1"
                }
              }
            }
          }
        },
        "summary": "Assign wireless profiles to the given camera",
        "tags": [
          "camera",
          "configure",
          "wirelessProfiles"
        ]
      }
    },
    "/devices/{serial}/cellularGateway/lan": {
      "get": {
        "description": "Show the LAN Settings of a MG",
        "operationId": "getDeviceCellularGatewayLan",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "deviceName": "name of the MG",
                "deviceLanIp": "192.168.0.33",
                "deviceSubnet": "192.168.0.32/27",
                "fixedIpAssignments": [
                  {
                    "mac": "0b:00:00:00:00:ac",
                    "name": "server 1",
                    "ip": "192.168.0.10"
                  },
                  {
                    "mac": "0b:00:00:00:00:ab",
                    "name": "server 2",
                    "ip": "192.168.0.20"
                  }
                ],
                "reservedIpRanges": [
                  {
                    "start": "192.168.1.0",
                    "end": "192.168.1.1",
                    "comment": "A reserved IP range"
                  }
                ]
              }
            }
          }
        },
        "summary": "Show the LAN Settings of a MG",
        "tags": [
          "cellularGateway",
          "configure",
          "lan"
        ]
      },
      "put": {
        "description": "Update the LAN Settings for a single MG.",
        "operationId": "updateDeviceCellularGatewayLan",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceCellularGatewayLan",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "reservedIpRanges": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "string",
                        "description": "Starting IP included in the reserved range of IPs"
                      },
                      "end": {
                        "type": "string",
                        "description": "Ending IP included in the reserved range of IPs"
                      },
                      "comment": {
                        "type": "string",
                        "description": "Comment explaining the reserved IP range"
                      }
                    },
                    "required": [
                      "start",
                      "end",
                      "comment"
                    ]
                  },
                  "description": "list of all reserved IP ranges for a single MG"
                },
                "fixedIpAssignments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "A descriptive name of the assignment"
                      },
                      "ip": {
                        "type": "string",
                        "description": "The IP address you want to assign to a specific server or device"
                      },
                      "mac": {
                        "type": "string",
                        "description": "The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address"
                      }
                    },
                    "required": [
                      "ip",
                      "mac"
                    ]
                  },
                  "description": "list of all fixed IP assignments for a single MG"
                }
              },
              "example": {
                "deviceName": "name of the MG",
                "deviceLanIp": "192.168.0.33",
                "deviceSubnet": "192.168.0.32/27",
                "fixedIpAssignments": [
                  {
                    "mac": "0b:00:00:00:00:ac",
                    "name": "server 1",
                    "ip": "192.168.0.10"
                  },
                  {
                    "mac": "0b:00:00:00:00:ab",
                    "name": "server 2",
                    "ip": "192.168.0.20"
                  }
                ],
                "reservedIpRanges": [
                  {
                    "start": "192.168.1.0",
                    "end": "192.168.1.1",
                    "comment": "A reserved IP range"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "deviceName": "name of the MG",
                "deviceLanIp": "192.168.0.33",
                "deviceSubnet": "192.168.0.32/27",
                "fixedIpAssignments": [
                  {
                    "mac": "0b:00:00:00:00:ac",
                    "name": "server 1",
                    "ip": "192.168.0.10"
                  },
                  {
                    "mac": "0b:00:00:00:00:ab",
                    "name": "server 2",
                    "ip": "192.168.0.20"
                  }
                ],
                "reservedIpRanges": [
                  {
                    "start": "192.168.1.0",
                    "end": "192.168.1.1",
                    "comment": "A reserved IP range"
                  }
                ]
              }
            }
          }
        },
        "summary": "Update the LAN Settings for a single MG.",
        "tags": [
          "cellularGateway",
          "configure",
          "lan"
        ]
      }
    },
    "/devices/{serial}/cellularGateway/portForwardingRules": {
      "get": {
        "description": "Returns the port forwarding rules for a single MG.",
        "operationId": "getDeviceCellularGatewayPortForwardingRules",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "rules": [
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test",
                    "access": "any",
                    "publicPort": "11-12",
                    "localPort": "4",
                    "uplink": "both",
                    "protocol": "tcp"
                  },
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test 2",
                    "access": "restricted",
                    "allowedIps": [
                      "10.10.10.10",
                      "10.10.10.11"
                    ],
                    "publicPort": "99",
                    "localPort": "5",
                    "uplink": "both",
                    "protocol": "tcp"
                  }
                ]
              }
            }
          }
        },
        "summary": "Returns the port forwarding rules for a single MG.",
        "tags": [
          "cellularGateway",
          "configure",
          "portForwardingRules"
        ]
      },
      "put": {
        "description": "Updates the port forwarding rules for a single MG.",
        "operationId": "updateDeviceCellularGatewayPortForwardingRules",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceCellularGatewayPortForwardingRules",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "rules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "A descriptive name for the rule"
                      },
                      "lanIp": {
                        "type": "string",
                        "description": "The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN"
                      },
                      "publicPort": {
                        "type": "string",
                        "description": "A port or port ranges that will be forwarded to the host on the LAN"
                      },
                      "localPort": {
                        "type": "string",
                        "description": "A port or port ranges that will receive the forwarded traffic from the WAN"
                      },
                      "allowedIps": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges."
                      },
                      "protocol": {
                        "type": "string",
                        "description": "TCP or UDP"
                      },
                      "access": {
                        "type": "string",
                        "description": "`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory."
                      }
                    },
                    "required": [
                      "lanIp",
                      "publicPort",
                      "localPort",
                      "protocol",
                      "access"
                    ]
                  },
                  "description": "An array of port forwarding params"
                }
              },
              "example": {
                "rules": [
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test",
                    "access": "any",
                    "publicPort": "11-12",
                    "localPort": "4",
                    "uplink": "both",
                    "protocol": "tcp"
                  },
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test 2",
                    "access": "restricted",
                    "allowedIps": [
                      "10.10.10.10",
                      "10.10.10.11"
                    ],
                    "publicPort": "99",
                    "localPort": "5",
                    "uplink": "both",
                    "protocol": "tcp"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "rules": [
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test",
                    "access": "any",
                    "publicPort": "11-12",
                    "localPort": "4",
                    "uplink": "both",
                    "protocol": "tcp"
                  },
                  {
                    "lanIp": "172.31.128.5",
                    "name": "test 2",
                    "access": "restricted",
                    "allowedIps": [
                      "10.10.10.10",
                      "10.10.10.11"
                    ],
                    "publicPort": "99",
                    "localPort": "5",
                    "uplink": "both",
                    "protocol": "tcp"
                  }
                ]
              }
            }
          }
        },
        "summary": "Updates the port forwarding rules for a single MG.",
        "tags": [
          "cellularGateway",
          "configure",
          "portForwardingRules"
        ]
      }
    },
    "/devices/{serial}/clients": {
      "get": {
        "description": "List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.",
        "operationId": "getDeviceClients",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "usage": {
                    "sent": 138.0,
                    "recv": 61.0
                  },
                  "id": "k74272e",
                  "description": "Miles's phone",
                  "mac": "22:33:44:55:66:77",
                  "ip": "1.2.3.4",
                  "user": "milesmeraki",
                  "vlan": "255",
                  "namedVlan": "Named Vlan",
                  "switchport": null,
                  "adaptivePolicyGroup": null,
                  "mdnsName": "Miles's phone",
                  "dhcpHostname": "MilesPhone"
                }
              ]
            }
          }
        },
        "summary": "List the clients of a device, up to a maximum of a month ago",
        "tags": [
          "devices",
          "monitor",
          "clients"
        ]
      }
    },
    "/devices/{serial}/liveTools/ping": {
      "post": {
        "description": "Enqueue a job to ping a target host from the device",
        "operationId": "createDeviceLiveToolsPing",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "createDeviceLiveToolsPing",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "target": {
                  "type": "string",
                  "description": "FQDN, IPv4 or IPv6 address"
                },
                "count": {
                  "type": "integer",
                  "description": "Count parameter to pass to ping. [1..5], default 5"
                }
              },
              "example": {
                "target": "75.75.75.75",
                "count": 2
              },
              "required": [
                "target"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "pingId": "1",
                "url": "/devices/SERIAL/liveTools/ping/1284392014819",
                "request": {
                  "serial": "Q234-ABCD-5678",
                  "target": "75.75.75.75",
                  "count": 2
                },
                "status": "complete",
                "results": {
                  "sent": 5,
                  "received": 5,
                  "loss": {
                    "percentage": 0
                  },
                  "latencies": {
                    "minimum": 15.8,
                    "average": 15.8,
                    "maximum": 15.9
                  },
                  "replies": [
                    {
                      "sequenceId": 1,
                      "size": 84,
                      "latency": 15.7
                    },
                    {
                      "sequenceId": 0,
                      "size": 84,
                      "latency": 15.9
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Enqueue a job to ping a target host from the device",
        "tags": [
          "devices",
          "liveTools",
          "ping"
        ]
      }
    },
    "/devices/{serial}/liveTools/ping/{id}": {
      "get": {
        "description": "Return a ping job. Latency unit in response is in milliseconds. Size is in bytes.",
        "operationId": "getDeviceLiveToolsPing",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "pingId": "1",
                "url": "/devices/SERIAL/liveTools/ping/1284392014819",
                "request": {
                  "serial": "Q234-ABCD-5678",
                  "target": "75.75.75.75",
                  "count": 2
                },
                "status": "complete",
                "results": {
                  "sent": 5,
                  "received": 5,
                  "loss": {
                    "percentage": 0
                  },
                  "latencies": {
                    "minimum": 15.8,
                    "average": 15.8,
                    "maximum": 15.9
                  },
                  "replies": [
                    {
                      "sequenceId": 1,
                      "size": 84,
                      "latency": 15.7
                    },
                    {
                      "sequenceId": 0,
                      "size": 84,
                      "latency": 15.9
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Return a ping job",
        "tags": [
          "devices",
          "liveTools",
          "ping"
        ]
      }
    },
    "/devices/{serial}/liveTools/pingDevice": {
      "post": {
        "description": "Enqueue a job to check connectivity status to the device",
        "operationId": "createDeviceLiveToolsPingDevice",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "createDeviceLiveToolsPingDevice",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "Count parameter to pass to ping. [1..5], default 5"
                }
              },
              "example": {
                "pingId": "1",
                "url": "/devices/SERIAL/liveTools/ping/1284392014819",
                "request": {
                  "serial": "Q234-ABCD-5678",
                  "target": "75.75.75.75",
                  "count": 2
                },
                "status": "complete",
                "results": {
                  "sent": 5,
                  "received": 5,
                  "loss": {
                    "percentage": 0
                  },
                  "latencies": {
                    "minimum": 15.8,
                    "average": 15.8,
                    "maximum": 15.9
                  },
                  "replies": [
                    {
                      "sequenceId": 1,
                      "size": 84,
                      "latency": 15.7
                    },
                    {
                      "sequenceId": 0,
                      "size": 84,
                      "latency": 15.9
                    }
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "pingId": "1",
                "url": "/devices/SERIAL/liveTools/ping/1284392014819",
                "request": {
                  "serial": "Q234-ABCD-5678",
                  "target": "75.75.75.75",
                  "count": 2
                },
                "status": "complete",
                "results": {
                  "sent": 5,
                  "received": 5,
                  "loss": {
                    "percentage": 0
                  },
                  "latencies": {
                    "minimum": 15.8,
                    "average": 15.8,
                    "maximum": 15.9
                  },
                  "replies": [
                    {
                      "sequenceId": 1,
                      "size": 84,
                      "latency": 15.7
                    },
                    {
                      "sequenceId": 0,
                      "size": 84,
                      "latency": 15.9
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Enqueue a job to check connectivity status to the device",
        "tags": [
          "devices",
          "liveTools",
          "pingDevice"
        ]
      }
    },
    "/devices/{serial}/liveTools/pingDevice/{id}": {
      "get": {
        "description": "Return a ping job. Latency unit in response is in milliseconds. Size is in bytes.",
        "operationId": "getDeviceLiveToolsPingDevice",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "pingId": "1",
                "url": "/devices/SERIAL/liveTools/ping/1284392014819",
                "request": {
                  "serial": "Q234-ABCD-5678",
                  "target": "75.75.75.75",
                  "count": 2
                },
                "status": "complete",
                "results": {
                  "sent": 5,
                  "received": 5,
                  "loss": {
                    "percentage": 0
                  },
                  "latencies": {
                    "minimum": 15.8,
                    "average": 15.8,
                    "maximum": 15.9
                  },
                  "replies": [
                    {
                      "sequenceId": 1,
                      "size": 84,
                      "latency": 15.7
                    },
                    {
                      "sequenceId": 0,
                      "size": 84,
                      "latency": 15.9
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Return a ping job",
        "tags": [
          "devices",
          "liveTools",
          "pingDevice"
        ]
      }
    },
    "/devices/{serial}/lldpCdp": {
      "get": {
        "description": "List LLDP and CDP information for a device",
        "operationId": "getDeviceLldpCdp",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "sourceMac": "00:11:22:33:44:55",
                "ports": {
                  "8": {
                    "cdp": {
                      "deviceId": "e0553d8cdf53",
                      "portId": "Port 10",
                      "address": "00:11:22:33:44:55",
                      "sourcePort": "8"
                    }
                  },
                  "12": {
                    "cdp": {
                      "deviceId": "e0553d8cdf53",
                      "portId": "Port 11",
                      "address": "00:11:22:33:44:55",
                      "sourcePort": "12"
                    },
                    "lldp": {
                      "systemName": "Meraki MS350-24X - Phineas",
                      "portId": "11",
                      "managementAddress": "00:11:22:33:44:55",
                      "sourcePort": "12"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "List LLDP and CDP information for a device",
        "tags": [
          "devices",
          "monitor",
          "lldpCdp"
        ]
      }
    },
    "/devices/{serial}/lossAndLatencyHistory": {
      "get": {
        "description": "Get the uplink loss percentage and latency in milliseconds, and goodput in kilobits per second for a wired network device.",
        "operationId": "getDeviceLossAndLatencyHistory",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 365 days from today."
          },
          {
            "type": "string",
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 31 days after t0."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          },
          {
            "type": "integer",
            "name": "resolution",
            "in": "query",
            "description": "The time resolution in seconds for returned data. The valid resolutions are: 60, 600, 3600, 86400. The default is 60."
          },
          {
            "type": "string",
            "enum": [
              "wan1",
              "wan2",
              "cellular"
            ],
            "name": "uplink",
            "in": "query",
            "description": "The WAN uplink used to obtain the requested stats. Valid uplinks are wan1, wan2, cellular. The default is wan1."
          },
          {
            "type": "string",
            "name": "ip",
            "in": "query",
            "required": true,
            "description": "The destination IP used to obtain the requested stats. This is required."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "startTime": "2018-10-09T22:18:27Z",
                  "endTime": "2018-10-09T22:19:27Z",
                  "lossPercent": 5.23,
                  "latencyMs": 324.12,
                  "goodput": 1493,
                  "jitter": 11.2
                },
                {
                  "startTime": "2018-10-09T22:19:27Z",
                  "endTime": "2018-10-09T22:20:27Z",
                  "lossPercent": 1.0,
                  "latencyMs": 43.0,
                  "goodput": 2567,
                  "jitter": 3.4
                },
                {
                  "startTime": "2018-10-09T22:20:27Z",
                  "endTime": "2018-10-09T22:21:27Z",
                  "lossPercent": 0.01,
                  "latencyMs": 44.02,
                  "goodput": 7899,
                  "jitter": 1.0
                }
              ]
            }
          }
        },
        "summary": "Get the uplink loss percentage and latency in milliseconds, and goodput in kilobits per second for a wired network device.",
        "tags": [
          "devices",
          "monitor",
          "lossAndLatencyHistory"
        ]
      }
    },
    "/devices/{serial}/managementInterface": {
      "get": {
        "description": "Return the management interface settings for a device",
        "operationId": "getDeviceManagementInterface",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "ddnsHostnames": {
                  "activeDdnsHostname": "mx1-sample.dynamic-m.com",
                  "ddnsHostnameWan1": "mx1-sample-1.dynamic-m.com",
                  "ddnsHostnameWan2": "mx1-sample-2.dynamic-m.com"
                },
                "wan1": {
                  "wanEnabled": "not configured",
                  "usingStaticIp": true,
                  "staticIp": "1.2.3.4",
                  "staticSubnetMask": "255.255.255.0",
                  "staticGatewayIp": "1.2.3.1",
                  "staticDns": [
                    "1.2.3.2",
                    "1.2.3.3"
                  ],
                  "vlan": 7
                },
                "wan2": {
                  "wanEnabled": "enabled",
                  "usingStaticIp": false,
                  "vlan": 2
                }
              }
            }
          }
        },
        "summary": "Return the management interface settings for a device",
        "tags": [
          "devices",
          "configure",
          "managementInterface"
        ]
      },
      "put": {
        "description": "Update the management interface settings for a device",
        "operationId": "updateDeviceManagementInterface",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceManagementInterface",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "wan1": {
                  "type": "object",
                  "properties": {
                    "wanEnabled": {
                      "type": "string",
                      "enum": [
                        "enabled",
                        "disabled",
                        "not configured"
                      ],
                      "description": "Enable or disable the interface (only for MX devices). Valid values are 'enabled', 'disabled', and 'not configured'."
                    },
                    "usingStaticIp": {
                      "type": "boolean",
                      "description": "Configure the interface to have static IP settings or use DHCP."
                    },
                    "staticIp": {
                      "type": "string",
                      "description": "The IP the device should use on the WAN."
                    },
                    "staticGatewayIp": {
                      "type": "string",
                      "description": "The IP of the gateway on the WAN."
                    },
                    "staticSubnetMask": {
                      "type": "string",
                      "description": "The subnet mask for the WAN."
                    },
                    "staticDns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Up to two DNS IPs."
                    },
                    "vlan": {
                      "type": "integer",
                      "description": "The VLAN that management traffic should be tagged with. Applies whether usingStaticIp is true or false."
                    }
                  },
                  "description": "WAN 1 settings"
                },
                "wan2": {
                  "type": "object",
                  "properties": {
                    "wanEnabled": {
                      "type": "string",
                      "enum": [
                        "enabled",
                        "disabled",
                        "not configured"
                      ],
                      "description": "Enable or disable the interface (only for MX devices). Valid values are 'enabled', 'disabled', and 'not configured'."
                    },
                    "usingStaticIp": {
                      "type": "boolean",
                      "description": "Configure the interface to have static IP settings or use DHCP."
                    },
                    "staticIp": {
                      "type": "string",
                      "description": "The IP the device should use on the WAN."
                    },
                    "staticGatewayIp": {
                      "type": "string",
                      "description": "The IP of the gateway on the WAN."
                    },
                    "staticSubnetMask": {
                      "type": "string",
                      "description": "The subnet mask for the WAN."
                    },
                    "staticDns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Up to two DNS IPs."
                    },
                    "vlan": {
                      "type": "integer",
                      "description": "The VLAN that management traffic should be tagged with. Applies whether usingStaticIp is true or false."
                    }
                  },
                  "description": "WAN 2 settings (only for MX devices)"
                }
              },
              "example": {
                "wan1": {
                  "wanEnabled": "not configured",
                  "usingStaticIp": true,
                  "staticIp": "1.2.3.4",
                  "staticSubnetMask": "255.255.255.0",
                  "staticGatewayIp": "1.2.3.1",
                  "staticDns": [
                    "1.2.3.2",
                    "1.2.3.3"
                  ],
                  "vlan": 7
                },
                "wan2": {
                  "wanEnabled": "enabled",
                  "usingStaticIp": false,
                  "vlan": 2
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "wan1": {
                  "wanEnabled": "not configured",
                  "usingStaticIp": true,
                  "staticIp": "1.2.3.4",
                  "staticSubnetMask": "255.255.255.0",
                  "staticGatewayIp": "1.2.3.1",
                  "staticDns": [
                    "1.2.3.2",
                    "1.2.3.3"
                  ],
                  "vlan": 7
                },
                "wan2": {
                  "wanEnabled": "enabled",
                  "usingStaticIp": false,
                  "vlan": 2
                }
              }
            }
          }
        },
        "summary": "Update the management interface settings for a device",
        "tags": [
          "devices",
          "configure",
          "managementInterface"
        ]
      }
    },
    "/devices/{serial}/reboot": {
      "post": {
        "description": "Reboot a device",
        "operationId": "rebootDevice",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "summary": "Reboot a device",
        "tags": [
          "devices",
          "liveTools"
        ]
      }
    },
    "/devices/{serial}/switch/ports": {
      "get": {
        "description": "List the switch ports for a switch",
        "operationId": "getDeviceSwitchPorts",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "portId": "1",
                  "name": "My switch port",
                  "tags": [
                    "tag1",
                    "tag2"
                  ],
                  "enabled": true,
                  "poeEnabled": true,
                  "type": "access",
                  "vlan": 10,
                  "voiceVlan": 20,
                  "isolationEnabled": false,
                  "rstpEnabled": true,
                  "stpGuard": "disabled",
                  "linkNegotiation": "Auto negotiate",
                  "portScheduleId": "1234",
                  "udld": "Alert only",
                  "adaptivePolicyGroupId": "123",
                  "peerSgtCapable": false,
                  "accessPolicyType": "Sticky MAC allow list",
                  "stickyMacAllowList": [
                    "34:56:fe:ce:8e:b0",
                    "34:56:fe:ce:8e:b1"
                  ],
                  "stickyMacAllowListLimit": 5,
                  "stormControlEnabled": true
                }
              ]
            }
          }
        },
        "summary": "List the switch ports for a switch",
        "tags": [
          "switch",
          "configure",
          "ports"
        ]
      }
    },
    "/devices/{serial}/switch/ports/cycle": {
      "post": {
        "description": "Cycle a set of switch ports",
        "operationId": "cycleDeviceSwitchPorts",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "cycleDeviceSwitchPorts",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "ports": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of switch ports. Example: [1, 2-5, 1_MA-MOD-8X10G_1, 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8]"
                }
              },
              "example": {
                "ports": [
                  "1",
                  "2-5",
                  "1_MA-MOD-8X10G_1",
                  "1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8"
                ]
              },
              "required": [
                "ports"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "ports": [
                  "1",
                  "2-5",
                  "1_MA-MOD-8X10G_1",
                  "1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8"
                ]
              }
            }
          }
        },
        "summary": "Cycle a set of switch ports",
        "tags": [
          "switch",
          "liveTools",
          "ports"
        ]
      }
    },
    "/devices/{serial}/switch/ports/statuses": {
      "get": {
        "description": "Return the status for all the ports of a switch",
        "operationId": "getDeviceSwitchPortsStatuses",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "portId": "1",
                  "enabled": true,
                  "status": "Connected",
                  "errors": [
                    "PoE overload",
                    "Very high proportion of CRC errors"
                  ],
                  "warnings": [
                    "SecureConnect authentication in progress",
                    "PoE port was denied power",
                    "High proportion of CRC errors"
                  ],
                  "speed": "10 Gbps",
                  "duplex": "full",
                  "usageInKb": {
                    "total": 40867,
                    "sent": 23008,
                    "recv": 17859
                  },
                  "cdp": {
                    "systemName": "",
                    "platform": "MS350-24X",
                    "deviceId": "0c8ddbddee:ff",
                    "portId": "Port 20",
                    "nativeVlan": 1,
                    "address": "10.0,0.1",
                    "managementAddress": "10.0.0.100",
                    "version": "1",
                    "vtpManagementDomain": "",
                    "capabilities": "Switch"
                  },
                  "lldp": {
                    "systemName": "MS350-24X - Test",
                    "systemDescription": "MS350-24X Cloud Managed PoE Switch",
                    "portId": "20",
                    "portDescription": "Port 20",
                    "chassisId": "0c:8d:db:dd:ee:ff",
                    "managementVlan": 1,
                    "portVlan": 1,
                    "managementAddress": "10.0.0.100",
                    "systemCapabilities": "switch"
                  },
                  "clientCount": 10,
                  "powerUsageInWh": 55.9,
                  "trafficInKbps": {
                    "total": 2.2,
                    "sent": 1.2,
                    "recv": 1.0
                  },
                  "secureConnect": {
                    "enabled": true,
                    "active": true,
                    "authenticationStatus": "Authentication in progress",
                    "configOverrides": {
                      "type": "trunk",
                      "allowedVlans": "all",
                      "vlan": 12,
                      "voiceVlan": null
                    }
                  }
                }
              ]
            }
          }
        },
        "summary": "Return the status for all the ports of a switch",
        "tags": [
          "switch",
          "monitor",
          "ports",
          "statuses"
        ]
      }
    },
    "/devices/{serial}/switch/ports/statuses/packets": {
      "get": {
        "description": "Return the packet counters for all the ports of a switch",
        "operationId": "getDeviceSwitchPortsStatusesPackets",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "type": "string",
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 1 day from today."
          },
          {
            "type": "number",
            "format": "float",
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 1 day. The default is 1 day."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "portId": "1",
                  "packets": [
                    {
                      "desc": "Total",
                      "total": 112081,
                      "sent": 104135,
                      "recv": 7946,
                      "ratePerSec": {
                        "total": 1,
                        "sent": 1,
                        "recv": 0
                      }
                    },
                    {
                      "desc": "Broadcast",
                      "total": 30884,
                      "sent": 30370,
                      "recv": 514,
                      "ratePerSec": {
                        "total": 0,
                        "sent": 0,
                        "recv": 0
                      }
                    },
                    {
                      "desc": "Multicast",
                      "total": 67620,
                      "sent": 66849,
                      "recv": 771,
                      "ratePerSec": {
                        "total": 0,
                        "sent": 0,
                        "recv": 0
                      }
                    },
                    {
                      "desc": "CRC align errors",
                      "total": 0,
                      "sent": 0,
                      "recv": 0,
                      "ratePerSec": {
                        "total": 0,
                        "sent": 0,
                        "recv": 0
                      }
                    }
                  ]
                }
              ]
            }
          }
        },
        "summary": "Return the packet counters for all the ports of a switch",
        "tags": [
          "switch",
          "monitor",
          "ports",
          "statuses",
          "packets"
        ]
      }
    },
    "/devices/{serial}/switch/ports/{portId}": {
      "get": {
        "description": "Return a switch port",
        "operationId": "getDeviceSwitchPort",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "portId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "portId": "1",
                "name": "My switch port",
                "tags": [
                  "tag1",
                  "tag2"
                ],
                "enabled": true,
                "poeEnabled": true,
                "type": "access",
                "vlan": 10,
                "voiceVlan": 20,
                "isolationEnabled": false,
                "rstpEnabled": true,
                "stpGuard": "disabled",
                "linkNegotiation": "Auto negotiate",
                "portScheduleId": "1234",
                "udld": "Alert only",
                "adaptivePolicyGroupId": "123",
                "peerSgtCapable": false,
                "accessPolicyType": "Sticky MAC allow list",
                "stickyMacAllowList": [
                  "34:56:fe:ce:8e:b0",
                  "34:56:fe:ce:8e:b1"
                ],
                "stickyMacAllowListLimit": 5,
                "stormControlEnabled": true
              }
            }
          }
        },
        "summary": "Return a switch port",
        "tags": [
          "switch",
          "configure",
          "ports"
        ]
      },
      "put": {
        "description": "Update a switch port",
        "operationId": "updateDeviceSwitchPort",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "portId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDeviceSwitchPort",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the switch port"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The list of tags of the switch port"
                },
                "enabled": {
                  "type": "boolean",
                  "description": "The status of the switch port"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "trunk",
                    "access"
                  ],
                  "description": "The type of the switch port ('trunk' or 'access')"
                },
                "vlan": {
                  "type": "integer",
                  "description": "The VLAN of the switch port. A null value will clear the value set for trunk ports."
                },
                "voiceVlan": {
                  "type": "integer",
                  "description": "The voice VLAN of the switch port. Only applicable to access ports."
                },
                "allowedVlans": {
                  "type": "string",
                  "description": "The VLANs allowed on the switch port. Only applicable to trunk ports."
                },
                "poeEnabled": {
                  "type": "boolean",
                  "description": "The PoE status of the switch port"
                },
                "isolationEnabled": {
                  "type": "boolean",
                  "description": "The isolation status of the switch port"
                },
                "rstpEnabled": {
                  "type": "boolean",
                  "description": "The rapid spanning tree protocol status"
                },
                "stpGuard": {
                  "type": "string",
                  "enum": [
                    "disabled",
                    "root guard",
                    "bpdu guard",
                    "loop guard"
                  ],
                  "description": "The state of the STP guard ('disabled', 'root guard', 'bpdu guard' or 'loop guard')"
                },
                "linkNegotiation": {
                  "type": "string",
                  "description": "The link speed for the switch port"
                },
                "portScheduleId": {
                  "type": "string",
                  "description": "The ID of the port schedule. A value of null will clear the port schedule."
                },
                "udld": {
                  "type": "string",
                  "enum": [
                    "Alert only",
                    "Enforce"
                  ],
                  "description": "The action to take when Unidirectional Link is detected (Alert only, Enforce). Default configuration is Alert only."
                },
                "accessPolicyType": {
                  "type": "string",
                  "enum": [
                    "Open",
                    "Custom access policy",
                    "MAC allow list",
                    "Sticky MAC allow list"
                  ],
                  "description": "The type of the access policy of the switch port. Only applicable to access ports. Can be one of 'Open', 'Custom access policy', 'MAC allow list' or 'Sticky MAC allow list'"
                },
                "accessPolicyNumber": {
                  "type": "integer",
                  "description": "The number of a custom access policy to configure on the switch port. Only applicable when 'accessPolicyType' is 'Custom access policy'"
                },
                "macAllowList": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Only devices with MAC addresses specified in this list will have access to this port. Up to 20 MAC addresses can be defined. Only applicable when 'accessPolicyType' is 'MAC allow list'"
                },
                "stickyMacAllowList": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The initial list of MAC addresses for sticky Mac allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'"
                },
                "stickyMacAllowListLimit": {
                  "type": "integer",
                  "description": "The maximum number of MAC addresses for sticky MAC allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'"
                },
                "stormControlEnabled": {
                  "type": "boolean",
                  "description": "The storm control status of the switch port"
                },
                "adaptivePolicyGroupId": {
                  "type": "string",
                  "description": "The adaptive policy group ID that will be used to tag traffic through this switch port. This ID must pre-exist during the configuration, else needs to be created using adaptivePolicy/groups API. Cannot be applied to a port on a switch bound to profile."
                },
                "peerSgtCapable": {
                  "type": "boolean",
                  "description": "If true, Peer SGT is enabled for traffic through this switch port. Applicable to trunk port only, not access port.\nCannot be applied to a port on a switch bound to profile.\n"
                },
                "flexibleStackingEnabled": {
                  "type": "boolean",
                  "description": "For supported switches (e.g. MS420/MS425), whether or not the port has flexible stacking enabled."
                }
              },
              "example": {
                "name": "My switch port",
                "tags": [
                  "tag1",
                  "tag2"
                ],
                "enabled": true,
                "poeEnabled": true,
                "type": "access",
                "vlan": 10,
                "voiceVlan": 20,
                "isolationEnabled": false,
                "rstpEnabled": true,
                "stpGuard": "disabled",
                "linkNegotiation": "Auto negotiate",
                "portScheduleId": "1234",
                "udld": "Alert only",
                "adaptivePolicyGroupId": "123",
                "peerSgtCapable": false,
                "accessPolicyType": "Sticky MAC allow list",
                "stickyMacAllowList": [
                  "34:56:fe:ce:8e:b0",
                  "34:56:fe:ce:8e:b1"
                ],
                "stickyMacAllowListLimit": 5,
                "stormControlEnabled": true
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": {
                "portId": "1",
                "name": "My switch port",
                "tags": [
                  "tag1",
                  "tag2"
                ],
                "enabled": true,
                "poeEnabled": true,
                "type": "access",
                "vlan": 10,
                "voiceVlan": 20,
                "isolationEnabled": false,
                "rstpEnabled": true,
                "stpGuard": "disabled",
                "linkNegotiation": "Auto negotiate",
                "portScheduleId": "1234",
                "udld": "Alert only",
                "adaptivePolicyGroupId": "123",
                "peerSgtCapable": false,
                "accessPolicyType": "Sticky MAC allow list",
                "stickyMacAllowList": [
                  "34:56:fe:ce:8e:b0",
                  "34:56:fe:ce:8e:b1"
                ],
                "stickyMacAllowListLimit": 5,
                "stormControlEnabled": true
              }
            }
          }
        },
        "summary": "Update a switch port",
        "tags": [
          "switch",
          "configure",
          "ports"
        ]
      }
    },
    "/devices/{serial}/switch/routing/interfaces": {
      "get": {
        "description": "List layer 3 interfaces for a switch. Those for a stack may be found under switch stack routing.",
        "operationId": "getDeviceSwitchRoutingInterfaces",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "examples": {
              "application/json": [
                {
                  "interfaceId": "1234",
                  "name": "L3 interface",
                  "subnet": "192.168.1.0/24",
                  "interfaceIp": "192.168.1.2",
                  "multicastRouting": "disabled",
                  "vlanId": 100,
                  "defaultGateway": "192.168.1.1",
                  "ospfSettings": {
                    "area": "0",
                    "cost": 1,
                    "isPassiveEnabled": true
                  },
                  "ospfV3": {
                    "area": "1",
                    "cost": 2,
                    "isPassiveEnabled": true
                  },
                  "ipv6": {
                    "assignmentMode": "static",
                    "address": "1:2:3:4::1",
                    "prefix": "1:2:3:4::/48",
                    "gateway": "1:2:3:4::2"
                  }
                }
              ]
            }
          }
        },
        "summary": "List layer 3 interfaces for a switch",
        "tags": [
[...]
